// BGColor, tittle product,BTN 2 
#FFFFFF
// Tittle,BTN 1,Accent
#D41443 
// Text
#000000
// Border,коми(секція відгук)
#E1E1E1
// Коло(хедер),ПреЗаголовок секцій,час картка локацій
#FFA5BA
// текст секції About,текст картка локацій
#907E82
// Hover BTN3 
#C7133E
// BG box ICE COFFEE секція продакт, BG lable COFFE картка локацій
#F0D1A5
// Соціальні іконки футер
#FEA5BB
// BG коло milkshakes секція продакт, 
#C2E297
// крапки не активного слайдера
#D9D9D9
// border Modal
#E18298
// BGColor Header, BG box ICE CREAM секція продакт
#FFB8CA
// bgFooter
#FFF5F6
//BGcolor BTN Locations
#D41342
// Franchise BTN Hover
#ECEBEB
// SVG House секція відгук
#D31342
// BG box Customer reviews
#FAFAFA
// BGcolor Modal
#E17992
// BG box milkshakes секція продакт,BG lable FOOD TRUCK картка локацій
#979FE2