$main-font-family: 'DM Sans', sans-serif;
$secondary-font-family: 'Titan One', cursive;

$mobile: 480px;
$hero-bg-first: #ffb8ca;
$hero-bg-second: #ffa5ba;
$hero-text-first: #d41443;
$hero-text-second: #ffffff;
$hero-duration250ms: 250ms;
$hero-time-function: cubic-bezier(0.4, 0, 0.2, 1);

$footer-bg-first: #fff5f6;
$footer-bg-second: #fea5bb;
$footer-text-second: #907e82;
$footer-hover-first: #d41443;
$footer-border-first: #e1e1e1;
