$main-font-family: 'DM Sans', sans-serif;
$secondary-font-family: 'Titan One', cursive;
$how-made-bcg-color: rgba(255, 245, 246, 1);
$how-made-label-color: rgba(255, 165, 186, 1);
$how-made-title-color: rgba(212, 20, 67, 1);
$how-made-text-color: rgba(0, 0, 0, 1);
$show-made-text-color-two: rgba(144, 126, 130, 1);
$show-made-margin-top: 40px;
$how-made-bcg-btn-color: rgba(255, 255, 255, 1);
$how-made-bcg-btn-color-hover: rgba(236, 235, 235, 1);
