<section>
  <div>
    <h2 class="hidden">Contacts</h2>
    <ul>
      <li>
        <div>
          <p>CAFE</p>
          <h3>Chicago</h3>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <p>Monday - Friday</p>
          <time datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time>
          <p>Saturday - Sunday</p>
          <time datetime="08:00 AM - 16:00 PM">08:00 AM - 16:00 PM</time>
          <ul>
            <a href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
            <br />
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <p>FOODTRUCK</p>
          <h3>Los Angeles</h3>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <p>Monday - Friday</p>
          <time datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time>
          <p>Saturday - Sunday</p>
          <time datetime="08:00 AM - 16:00 PM">08:00 AM - 16:00 PM</time>
          <ul>
            <a href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
            <br />
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <p>CAFE</p>
          <h3>New York</h3>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <p>Monday - Friday</p>
          <time datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time>
          <p>Saturday - Sunday</p>
          <time datetime="08:00 AM - 16:00 PM">08:00 AM - 16:00 PM</time>
          <ul>
            <a href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
            <br />
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <button type="button">Our Locations</button>
    <br />
    <button type="button">Franchise</button>
  </div>
</section>
