<section class="contact">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contact__main">
      <li class="contact__list list">
        <div class="contact__container">
          <p class="contact__cafe">CAFE</p>
          <h3 class="contact__city"><b>Chicago</b></h3>
          <p class="contact__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <p class="contact__day weekdays">Monday - Friday</p>
          <time class="contact__time" datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time>
          <p class="contact__day weekend">Saturday - Sunday</p>
          <time class="contact__time weekend__time" datetime="08:00 AM - 16:00 PM">08:00 AM - 16:00 PM</time>
          <ul class="contact__data">
            <a class="contact__link link" href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
            <a class="contact__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </ul>
        </div>
      </li>
      <li class="contact__list list">
        <div class="contact__container">
          <p class="contact__cafe cafe">FOODTRUCK</p>
          <h3 class="contact__city"><b>Los Angeles</b></h3>
          <p class="contact__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <p class="contact__day">Monday - Friday</p>
          <time class="contact__time weekdays" datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time>
          <p class="contact__day weekend">Saturday - Sunday</p>
          <time class="contact__time weekend__time" datetime="08:00 AM - 16:00 PM">08:00 AM - 16:00 PM</time>
          <ul class="contact__data">
            <a class="contact__link link" href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
            <a class="contact__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </ul class="contact__data">
        </div>
      </li>
      <li class="contact__list list">
        <div class="contact__container">
          <p class="contact__cafe">CAFE</p>
          <h3 class="contact__city"><b>New York</b></h3>
          <p class="contact__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <p class="contact__day weekdays">Monday - Friday</p>
          <time class="contact__time" datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time>
          <p class="contact__day weekend">Saturday - Sunday</p>
          <time class="contact__time weekend__time" datetime="08:00 AM - 16:00 PM">08:00 AM - 16:00 PM</time>
          <ul class="contact__data">
            <a class="contact__link link" href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
            <a class="contact__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </ul>
        </div>
      </li>
    </ul>
    <div class="contact__button" >
      <button class="contact__btn first-btn" type="button">Our Locations &nbsp; &#x0003E;</button>
      <button class="contact__btn second-btn" type="button">Franchise &nbsp; &#x0003E;</button>
    </div>
  </div>
</section>
