<section class="customer_reviews">
  <div class="wrapper">
    <div class="container">
      <div class="swiper mySwiper">
        <div class="slider swiper-wrapper">
          <div class="slider-item swiper-slide">
            <div class="slide-item__header">
              <img
                class="slide-img"
                src="./images/team_img/img-pers1.jpg"
                alt="person-1"
                width="85px"
                height="85px"
              />
            </div>
            <div class="slide-item__comment">
              <div class="gradient">
                <p class="slide-text">
                  when I opened the site, I was immediately fascinated by the hero section, and I
                  immediately wanted to order ice cream and iced latte.
                </p>
              </div>
            </div>
            <div class="slide-item__footer"><p class="slide-name">Illia, Dnipro</p></div>
          </div>
          <div class="slider-item swiper-slide">
            <div class="slide-item__header">
              <img
                class="slide-img"
                src="./images/team_img/img-pers2.png"
                alt="person-2"
                width="85px"
                height="85px"
              />
            </div>
            <div class="slide-item__comment">
              <div class="gradient">
                <p class="slide-text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Nullam viverra
                  consectetuer. Quisque cursus et, porttitor risus. Nullam viverra consectetuer.
                  Quisque cursus et, porttitor risus.Nullam viverra consectetuer. Quisque cursus et,
                  porttitor risus.
                </p>
              </div>
            </div>
            <div class="slide-item__footer"><p class="slide-name">Zhenya, Los Angeles</p></div>
          </div>
          <div class="slider-item swiper-slide">
            <div class="slide-item__header">
              <img
                class="slide-img"
                src="./images/team_img/img-pers3.png"
                alt="person-3"
                width="85px"
                height="85px"
              />
            </div>
            <div class="slide-item__comment">
              <div class="gradient">
                <p class="slide-text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Nullam viverra
                  consectetuer. Quisque cursus et, porttitor risus. Nullam viverra consectetuer.
                  Quisque cursus et, porttitor risus.Nullam viverra consectetuer. Quisque cursus et,
                  porttitor risus.
                </p>
              </div>
            </div>
            <div class="slide-item__footer"><p class="slide-name">Oleg, New York</p></div>
          </div>
          <div class="slider-item swiper-slide">
            <div class="slide-item__header">
              <img
                class="slide-img"
                src="./images/team_img/img-pers4.png"
                alt="person-4"
                width="85px"
                height="85px"
              />
            </div>
            <div class="slide-item__comment">
              <div class="gradient">
                <p class="slide-text">
                  While I working on a project with my comrades, I upgraded my work on GitHub. I am
                  eternally grateful to the team for this.
                </p>
              </div>
            </div>
            <div class="slide-item__footer"><p class="slide-name">Den, Mariupol</p></div>
          </div>
          <div class="slider-item swiper-slide">
            <div class="slide-item__header">
              <img
                class="slide-img"
                src="./images/team_img/img-pers6.jpg"
                alt="person-5"
                width="85px"
                height="85px"
              />
            </div>
            <div class="slide-item__comment">
              <div class="gradient">
                <p class="slide-text">
                  Very interesting and useful project, I had a feedback section in development. It
                  was made using a slider, which saves space for important content and makes the
                  site unique to the consumer.
                </p>
              </div>
            </div>
            <div class="slide-item__footer">
              <p class="slide-name">Maksim, the village of Ozera</p>
            </div>
          </div>
          <div class="slider-item swiper-slide">
            <div class="slide-item__header">
              <img
                class="slide-img"
                src="./images/team_img/Milyutin.jpg"
                alt="person-6"
                width="85px"
                height="85px"
              />
            </div>
            <div class="slide-item__comment">
              <div class="gradient">
                <p class="slide-text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Nullam viverra
                  consectetuer. Quisque cursus et, porttitor risus. Nullam viverra consectetuer.
                  Quisque cursus et, porttitor risus.Nullam viverra consectetuer. Quisque cursus et,
                  porttitor risus.
                </p>
              </div>
            </div>
            <div class="slide-item__footer"><p class="slide-name">Pasha, New York</p></div>
          </div>
          <div class="slider-item swiper-slide">
            <div class="slide-item__header">
              <img
                class="slide-img"
                src="./images/team_img/Ruslan.jpg"
                alt="person-7"
                width="85px"
                height="85px"
              />
            </div>
            <div class="slide-item__comment">
              <div class="gradient">
                <p class="slide-text">
                  Quite often difficult things can be done in simple steps, you just need to realize
                  that you are doing a simple thing and do not look for difficult solutions. But it
                  is in teamwork that one understands that a side view of any situation is a
                  critical decision! Great work is teamwork.
                </p>
              </div>
            </div>
            <div class="slide-item__footer"><p class="slide-name">Ruslan, Oslo</p></div>
          </div>
          <div class="slider-item swiper-slide">
            <div class="slide-item__header">
              <img
                class="slide-img"
                src="./images/team_img/Illya.jpg"
                alt="person-8"
                width="85px"
                height="85px"
              />
            </div>
            <div class="slide-item__comment">
              <div class="gradient">
                <p class="slide-text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Nullam viverra
                  consectetuer. Quisque cursus et, porttitor risus. Nullam viverra consectetuer.
                  Quisque cursus et, porttitor risus.Nullam viverra consectetuer. Quisque cursus et,
                  porttitor risus.
                </p>
              </div>
            </div>
            <div class="slide-item__footer"><p class="slide-name">Emily, Los Angeles</p></div>
          </div>
          <div class="slider-item swiper-slide">
            <div class="slide-item__header">
              <img
                class="slide-img"
                src="./images/team_img/Sergeeva.JPG"
                alt="person-9"
                width="85px"
                height="85px"
              />
            </div>
            <div class="slide-item__comment">
              <div class="gradient">
                <p class="slide-text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Nullam viverra
                  consectetuer. Quisque cursus et, porttitor risus. Nullam viverra consectetuer.
                  Quisque cursus et, porttitor risus.Nullam viverra consectetuer. Quisque cursus et,
                  porttitor risus.
                </p>
              </div>
            </div>
            <div class="slide-item__footer"><p class="slide-name">Julia, New York</p></div>
          </div>
          <div class="slider-item swiper-slide">
            <div class="slide-item__header">
              <img
                class="slide-img"
                src="./images/team_img/Sotnikov-main.jpg"
                alt="person-10"
                width="85px"
                height="85px"
              />
            </div>
            <div class="slide-item__comment">
              <div class="gradient">
                <p class="slide-text">
                  While I working on a project with my comrades, I upgraded my work on GitHub. I am
                  eternally grateful to the team for this.
                </p>
              </div>
            </div>
            <div class="slide-item__footer"><p class="slide-name">Anatoliy, Zaporizhzhia</p></div>
          </div>
          <div class="slider-item swiper-slide">
            <div class="slide-item__header">
              <img
                class="slide-img"
                src="./images/team_img/person1_1x.jpg"
                alt="person-11"
                width="85px"
                height="85px"
              />
            </div>
            <div class="slide-item__comment">
              <div class="gradient">
                <p class="slide-text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Nullam viverra
                  consectetuer. Quisque cursus et, porttitor risus. Nullam viverra consectetuer.
                  Quisque cursus et, porttitor risus.Nullam viverra consectetuer. Quisque cursus et,
                  porttitor risus.
                </p>
              </div>
            </div>
            <div class="slide-item__footer"><p class="slide-name">Den, Zaporizhzhia</p></div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
