<section class="customer_reviews">
  <div class="wrapper">
    <div class="container">
      <div class="swiper mySwiper">
        <div class="slider swiper-wrapper">
          <div class="slider-item swiper-slide">
            <img
              class="slide-img"
              src="./images/team_img/img-pers1.jpg"
              alt="peson-1"
              width="85px"
              height="85px"
            />
            <p class="slide-text">
              when I opened the site, I was immediately fascinated by the hero section, and I
              immediately wanted to order ice cream and iced latte.
            </p>
            <p class="slide-name">Illia, Dnipro</p>
          </div>
          <div class="slider-item swiper-slide">
            <img
              class="slide-img"
              src="./images/team_img/person1_1x.jpg"
              alt="peson-2"
              width="85px"
              height="85px"
            />
            <p class="slide-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            </p>
            <p class="slide-name">Emily, Los Angeles</p>
          </div>
          <div class="slider-item swiper-slide">
            <img
              class="slide-img"
              src="./images/team_img/test-img1.jpeg"
              alt="peson-3"
              width="85px"
              height="85px"
            />
            <p class="slide-text">
              Numquam laboriosam ab nesciunt reiciendis est, at minima consequatur sapiente
              consectetur quos?
            </p>
            <p class="slide-name">Edwin, New York</p>
          </div>
          <div class="slider-item swiper-slide"></div>
          <div class="slider-item swiper-slide"></div>
          <div class="slider-item swiper-slide"></div>
          <div class="slider-item swiper-slide"></div>
          <div class="slider-item swiper-slide"></div>
          <div class="slider-item swiper-slide"></div>
          <div class="slider-item swiper-slide"></div>
          <div class="slider-item swiper-slide"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
