<section class="customer_reviews">
  <div class="wrapper">
    <div class="container">
      <div class="swiper mySwiper">
        <div class="slider swiper-wrapper">
          <div class="slider-item swiper-slide">
            <div class="slider-item__header">
            <img
              class="slide-img"
              src="./images/team_img/img-pers1.jpg"
              alt="person-1"
              width="85px"
              height="85px"
            />
            </div>
            <div class="slider-item__comment">
              <svg class="slide-icon-open" width="54" height="40">
              <use
                class="slide-icon-vektor"
                href="./images/symbol-defs.svg#icon-untitled"
              ></use>
            </svg>
            <p class="slide-text gradient">
              when I opened the site, I was immediately fascinated by the hero section, and I
              immediately wanted to order ice cream and iced latte.
            </p>
            </div>
            <div class="slider-item__footer">
            <p class="slide-name">Illia, Dnipro</p>
            </div>
          </div>
          <div class="slider-item swiper-slide">
            <img
              class="slide-img"
              src="./images/team_img/img-pers2.png"
              alt="person-2"
              width="85px"
              height="85px"
            />
            <p class="slide-text gradient"><svg class="slide-icon-open" width="54" height="40">
              <use
                class="slide-icon-vektor"
                href="./images/symbol-defs.svg#icon-untitled"
              ></use>
            </svg>
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. dbfdnfgmdykdty drdhtsrjhsrtbhdfb zdfbanhatrharhgar
            </p>
            <p class="slide-name">Emily, Los Angeles</p>
          </div>
          <div class="slider-item swiper-slide">
            <img
              class="slide-img"
              src="./images/team_img/img-pers3.png"
              alt="person-3"
              width="85px"
              height="85px"
            />
            <p class="slide-text gradient"><svg class="slide-icon-open" width="54" height="40">
              <use
                class="slide-icon-vektor"
                href="./images/symbol-defs.svg#icon-untitled"
              ></use>
            </svg>
              Numquam laboriosam ab nesciunt reiciendis est, at minima consequatur sapiente
              consectetur quos?
            </p>
            <p class="slide-name">Edwin, New York</p>
          </div>
          <div class="slider-item swiper-slide">
            <img
              class="slide-img"
              src="./images/team_img/img-pers4.png"
              alt="person-4"
              width="85px"
              height="85px"
            />
            <p class="slide-text gradient">
              <svg class="slide-icon-open" width="54" height="40">
              <use
                class="slide-icon-vektor"
                href="./images/symbol-defs.svg#icon-untitled"
              ></use>
            </svg>
              Numquam laboriosam ab nesciunt reiciendis est, at minima consequatur sapiente
              consectetur quos?
            </p>
            <p class="slide-name">Edwin, New York</p>
          </div>
          <div class="slider-item swiper-slide">
            <img
              class="slide-img"
              src="./images/team_img/test-img1.jpeg"
              alt="person-5"
              width="85px"
              height="85px"
            />
            <p class="slide-text gradient"><svg class="slide-icon-open" width="54" height="40">
              <use
                class="slide-icon-vektor"
                href="./images/symbol-defs.svg#icon-untitled"
              ></use>
            </svg>
              Numquam laboriosam ab nesciunt reiciendis est, at minima consequatur sapiente
              consectetur quos?
            </p>
            <p class="slide-name">Edwin, New York</p>
          </div>
          <div class="slider-item swiper-slide">
            <img
              class="slide-img"
              src="./images/team_img/person1_1x.jpg"
              alt="person-6"
              width="85px"
              height="85px"
            />
            <p class="slide-text gradient"><svg class="slide-icon-open" width="54" height="40">
              <use
                class="slide-icon-vektor"
                href="./images/symbol-defs.svg#icon-untitled"
              ></use>
            </svg>
              Numquam laboriosam ab nesciunt reiciendis est, at minima consequatur sapiente
              consectetur quos?
            </p>
            <p class="slide-name">Edwin, New York</p>
          </div>
          <div class="slider-item swiper-slide">
            <img
              class="slide-img"
              src="./images/team_img/img-pers1.jpg"
              alt="person-1"
              width="85px"
              height="85px"
            />
            <p class="slide-text gradient"><svg class="slide-icon-open" width="54" height="40">
              <use
                class="slide-icon-vektor"
                href="./images/symbol-defs.svg#icon-untitled"
              ></use>
            </svg>
              when I opened the site, I was immediately fascinated by the hero section, and I
              immediately wanted to order ice cream and iced latte.
            </p>
            <p class="slide-name">Illia, Dnipro</p>
          </div>
          <div class="slider-item swiper-slide">
            <img
              class="slide-img"
              src="./images/team_img/img-pers2.png"
              alt="person-2"
              width="85px"
              height="85px"
            />
            <p class="slide-text gradient"><svg class="slide-icon-open" width="54" height="40">
              <use
                class="slide-icon-vektor"
                href="./images/symbol-defs.svg#icon-untitled"
              ></use>
            </svg>
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            </p>
            <p class="slide-name">Emily, Los Angeles</p>
          </div>
          <div class="slider-item swiper-slide">
            <img
              class="slide-img"
              src="./images/team_img/img-pers3.png"
              alt="person-3"
              width="85px"
              height="85px"
            />
            <p class="slide-text gradient"><svg class="slide-icon-open" width="54" height="40">
              <use
                class="slide-icon-vektor"
                href="./images/symbol-defs.svg#icon-untitled"
              ></use>
            </svg>
              Numquam laboriosam ab nesciunt reiciendis est, at minima consequatur sapiente
              consectetur quos?
            </p>
            <p class="slide-name">Edwin, New York</p>
          </div>
          <div class="slider-item swiper-slide">
            <img
              class="slide-img"
              src="./images/team_img/img-pers4.png"
              alt="person-4"
              width="85px"
              height="85px"
            />
            <p class="slide-text gradient"><svg class="slide-icon-open" width="54" height="40">
              <use
                class="slide-icon-vektor"
                href="./images/symbol-defs.svg#icon-untitled"
              ></use>
            </svg>
              Numquam laboriosam ab nesciunt reiciendis est, at minima consequatur sapiente
              consectetur quos?
            </p>
            <p class="slide-name">Edwin, New York</p>
          </div>
          <div class="slider-item swiper-slide">
            <img
              class="slide-img"
              src="./images/team_img/img-pers4.png"
              alt="person-4"
              width="85px"
              height="85px"
            />
            <p class="slide-text gradient"><svg class="slide-icon-open" width="54" height="40">
              <use
                class="slide-icon-vektor"
                href="./images/symbol-defs.svg#icon-untitled"
              ></use>
            </svg>
              Numquam laboriosam ab nesciunt reiciendis est, at minima consequatur sapiente
              consectetur quos?
            </p>
            <p class="slide-name">Edwin, New York</p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
