<section class="grid">
  <div class="container grid__content">
    <ul class="grid__list">
      <li class="grid__item grid__item1">
        <picture>
          <source
            srcset="
              ./images/gallery/img1-desktop.jpg    1x,
              ./images/gallery/img1-desktop@2x.jpg 2x,
              ./images/gallery/img1-desktop@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/img1-tablet.jpg    1x,
              ./images/gallery/img1-tablet@2x.jpg 2x,
              ./images/gallery/img1-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img1-mob.jpg    1x,
              ./images/gallery/img1-mob@2x.jpg 2x,
              ./images/gallery/img1-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img1-mob.jpg alt="gallery-picture" />
        </picture>
      </li>
      <li class="grid__item grid__item2">
        <picture>
          <source
            srcset="
              ./images/gallery/img2-desktop.jpg    1x,
              ./images/gallery/img2-desktop@2x.jpg 2x,
              ./images/gallery/img2-desktop@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/img2-tablet.jpg    1x,
              ./images/gallery/img2-tablet@2x.jpg 2x,
              ./images/gallery/img2-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img2-mob.jpg    1x,
              ./images/gallery/img2-mob@2x.jpg 2x,
              ./images/gallery/img2-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img2-mob.jpg alt="gallery-picture" />
        </picture>
      </li>
      <li class="grid__item grid__item3">
        <picture>
          <source
            srcset="
              ./images/gallery/img3-desktop.jpg    1x,
              ./images/gallery/img3-desktop@2x.jpg 2x,
              ./images/gallery/img3-desktop@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/img3-tablet.jpg    1x,
              ./images/gallery/img3-tablet@2x.jpg 2x,
              ./images/gallery/img3-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img3-mob.jpg    1x,
              ./images/gallery/img3-mob@2x.jpg 2x,
              ./images/gallery/img3-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img3-mob.jpg alt="gallery-picture" />
        </picture>
      </li>
      <li class="grid__item grid__item-big">
        <picture>
          <source
            srcset="
              ./images/gallery/img1-desktop.jpg    1x,
              ./images/gallery/img1-desktop@2x.jpg 2x,
              ./images/gallery/img1-desktop@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/img1-tablet.jpg    1x,
              ./images/gallery/img1-tablet@2x.jpg 2x,
              ./images/gallery/img1-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img-big-mob.jpg    1x,
              ./images/gallery/img-big-mob@2x.jpg 2x,
              ./images/gallery/img-big-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img-big-mob.jpg alt="gallery-picture" />
        </picture>
      </li>
      <li class="grid__item grid__item5">
        <picture>
          <source
            srcset="
              ./images/gallery/img5-desktop.jpg    1x,
              ./images/gallery/img5-desktop@2x.jpg 2x,
              ./images/gallery/img5-desktop@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/img5-tablet.jpg    1x,
              ./images/gallery/img5-tablet@2x.jpg 2x,
              ./images/gallery/img5-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img5-mob.jpg    1x,
              ./images/gallery/img5-mob@2x.jpg 2x,
              ./images/gallery/img5-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img5-mob.jpg alt="gallery-picture" />
        </picture>
      </li>
      <li class="grid__item grid__item6">
        <picture>
          <source
            srcset="
              ./images/gallery/img6-desktop.jpg    1x,
              ./images/gallery/img6-desktop@2x.jpg 2x,
              ./images/gallery/img6-desktop@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/img6-tablet.jpg    1x,
              ./images/gallery/img6-tablet@2x.jpg 2x,
              ./images/gallery/img6-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img6-mob.jpg    1x,
              ./images/gallery/img6-mob@2x.jpg 2x,
              ./images/gallery/img6-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img6-mob.jpg alt="gallery-picture" />
        </picture>
      </li>
      <li class="grid__item grid__item7">
        <picture>
          <source
            srcset="
              ./images/gallery/img7-desktop.jpg    1x,
              ./images/gallery/img7-desktop@2x.jpg 2x,
              ./images/gallery/img7-desktop@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/img7-tablet.jpg    1x,
              ./images/gallery/img7-tablet@2x.jpg 2x,
              ./images/gallery/img7-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img7-mob.jpg    1x,
              ./images/gallery/img7-mob@2x.jpg 2x,
              ./images/gallery/img7-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img7-mob.jpg alt="gallery-picture" />
        </picture>
      </li>
      <li class="grid__item grid__item8">
        <picture>
          <source
            srcset="
              ./images/gallery/img8-desktop.jpg    1x,
              ./images/gallery/img8-desktop@2x.jpg 2x,
              ./images/gallery/img8-desktop@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/img8-tablet.jpg    1x,
              ./images/gallery/img8-tablet@2x.jpg 2x,
              ./images/gallery/img8-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img8-mob.jpg    1x,
              ./images/gallery/img8-mob@2x.jpg 2x,
              ./images/gallery/img8-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img8-mob.jpg alt="gallery-picture" />
        </picture>
      </li>
      <li class="grid__item grid__item9">
        <picture>
          <source
            srcset="
              ./images/gallery/img9-desktop.jpg    1x,
              ./images/gallery/img9-desktop@2x.jpg 2x,
              ./images/gallery/img9-desktop@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/img9-tablet.jpg    1x,
              ./images/gallery/img9-tablet@2x.jpg 2x,
              ./images/gallery/img9-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img9-mob.jpg    1x,
              ./images/gallery/img9-mob@2x.jpg 2x,
              ./images/gallery/img9-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img9-mob.jpg alt="gallery-picture" />
        </picture>
      </li>
      <li class="grid__item grid__item10">
        <picture>
          <source
            srcset="
              ./images/gallery/img10-desktop.jpg    1x,
              ./images/gallery/img10-desktop@2x.jpg 2x,
              ./images/gallery/img10-desktop@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/img10-tablet.jpg    1x,
              ./images/gallery/img10-tablet@2x.jpg 2x,
              ./images/gallery/img10-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img10-mob.jpg    1x,
              ./images/gallery/img10-mob@2x.jpg 2x,
              ./images/gallery/img10-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img10-mob.jpg alt="gallery-picture" />
        </picture>
      </li>
    </ul>
  </div>
</section>
