<section class="gallery" id="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container gallery__content">
    <ul class="gallery__list">
      <li class="gallery__item gallery__item1 list">
        <picture>
          <source
            srcset="
              ./images/gallery/img1-desktop.jpg    1x,
              ./images/gallery/img1-desktop@2x.jpg 2x,
              ./images/gallery/img1-desktop@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/img1-tablet.jpg    1x,
              ./images/gallery/img1-tablet@2x.jpg 2x,
              ./images/gallery/img1-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img1-mobile.jpg    1x,
              ./images/gallery/img1-mobile@2x.jpg 2x,
              ./images/gallery/img1-mobile@3x.jpg 3x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/img1-mob.jpg    1x,
              ./images/gallery/img1-mob@2x.jpg 2x,
              ./images/gallery/img1-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img1-mob.jpg" alt="gallery-picture" />
        </picture>
      </li>
      <li class="gallery__item gallery__item2 list">
        <picture>
          <source
            srcset="
              ./images/gallery/img2-desktop.jpg    1x,
              ./images/gallery/img2-desktop@2x.jpg 2x,
              ./images/gallery/img2-desktop@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/img2-tablet.jpg    1x,
              ./images/gallery/img2-tablet@2x.jpg 2x,
              ./images/gallery/img2-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img2-mobile.jpg    1x,
              ./images/gallery/img2-mobile@2x.jpg 2x,
              ./images/gallery/img2-mobile@3x.jpg 3x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/img2-mob.jpg    1x,
              ./images/gallery/img2-mob@2x.jpg 2x,
              ./images/gallery/img2-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img2-mob.jpg" alt="gallery-picture" />
        </picture>
      </li>
      <li class="gallery__item gallery__item3 list">
        <picture>
          <source
            srcset="
              ./images/gallery/img3-desktop.jpg    1x,
              ./images/gallery/img3-desktop@2x.jpg 2x,
              ./images/gallery/img3-desktop@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/img3-tablet.jpg    1x,
              ./images/gallery/img3-tablet@2x.jpg 2x,
              ./images/gallery/img3-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img3-mobile.jpg    1x,
              ./images/gallery/img3-mobile@2x.jpg 2x,
              ./images/gallery/img3-mobile@3x.jpg 3x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/img3-mob.jpg    1x,
              ./images/gallery/img3-mob@2x.jpg 2x,
              ./images/gallery/img3-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img3-mob.jpg" alt="gallery-picture" />
        </picture>
      </li>
      <li class="gallery__item gallery__item-big list">
        <picture>
          <source
            srcset="
              ./images/gallery/img-big-desktop.jpg    1x,
              ./images/gallery/img-big-desktop@2x.jpg 2x,
              ./images/gallery/img-big-desktop@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/img-big-tablet.jpg    1x,
              ./images/gallery/img-big-tablet@2x.jpg 2x,
              ./images/gallery/img-big-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img-big-mobile.jpg    1x,
              ./images/gallery/img-big-mobile@2x.jpg 2x,
              ./images/gallery/img-big-mobile@3x.jpg 3x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/img-big-mob.jpg    1x,
              ./images/gallery/img-big-mob@2x.jpg 2x,
              ./images/gallery/img-big-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img-big-mob.jpg" alt="gallery-picture" />
        </picture>
      </li>
      <li class="gallery__item gallery__item5 list">
        <picture>
          <source
            srcset="
              ./images/gallery/img5-desktop.jpg    1x,
              ./images/gallery/img5-desktop@2x.jpg 2x,
              ./images/gallery/img5-desktop@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/img5-tablet.jpg    1x,
              ./images/gallery/img5-tablet@2x.jpg 2x,
              ./images/gallery/img5-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img5-mobile.jpg    1x,
              ./images/gallery/img5-mobile@2x.jpg 2x,
              ./images/gallery/img5-mobile@3x.jpg 3x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/img5-mob.jpg    1x,
              ./images/gallery/img5-mob@2x.jpg 2x,
              ./images/gallery/img5-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img5-mob.jpg" alt="gallery-picture" />
        </picture>
      </li>
      <li class="gallery__item gallery__item6 list">
        <picture>
          <source
            srcset="
              ./images/gallery/img6-desktop.jpg    1x,
              ./images/gallery/img6-desktop@2x.jpg 2x,
              ./images/gallery/img6-desktop@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/img6-tablet.jpg    1x,
              ./images/gallery/img6-tablet@2x.jpg 2x,
              ./images/gallery/img6-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img6-mobile.jpg    1x,
              ./images/gallery/img6-mobile@2x.jpg 2x,
              ./images/gallery/img6-mobile@3x.jpg 3x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/img6-mob.jpg    1x,
              ./images/gallery/img6-mob@2x.jpg 2x,
              ./images/gallery/img6-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img6-mob.jpg" alt="gallery-picture" />
        </picture>
      </li>
      <li class="gallery__item gallery__item7 list">
        <picture>
          <source
            srcset="
              ./images/gallery/img7-desktop.jpg    1x,
              ./images/gallery/img7-desktop@2x.jpg 2x,
              ./images/gallery/img7-desktop@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/img7-tablet.jpg    1x,
              ./images/gallery/img7-tablet@2x.jpg 2x,
              ./images/gallery/img7-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img7-mobile.jpg    1x,
              ./images/gallery/img7-mobile@2x.jpg 2x,
              ./images/gallery/img7-mobile@3x.jpg 3x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/img7-mob.jpg    1x,
              ./images/gallery/img7-mob@2x.jpg 2x,
              ./images/gallery/img7-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img7-mob.jpg" alt="gallery-picture" />
        </picture>
      </li>
      <li class="gallery__item gallery__item8 list">
        <picture>
          <source
            srcset="
              ./images/gallery/img8-desktop.jpg    1x,
              ./images/gallery/img8-desktop@2x.jpg 2x,
              ./images/gallery/img8-desktop@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/img8-tablet.jpg    1x,
              ./images/gallery/img8-tablet@2x.jpg 2x,
              ./images/gallery/img8-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img8-mobile.jpg    1x,
              ./images/gallery/img8-mobile@2x.jpg 2x,
              ./images/gallery/img8-mobile@3x.jpg 3x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/img8-mob.jpg    1x,
              ./images/gallery/img8-mob@2x.jpg 2x,
              ./images/gallery/img8-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img8-mob.jpg" alt="gallery-picture" />
        </picture>
      </li>
      <li class="gallery__item gallery__item9 list">
        <picture>
          <source
            srcset="
              ./images/gallery/img9-desktop.jpg    1x,
              ./images/gallery/img9-desktop@2x.jpg 2x,
              ./images/gallery/img9-desktop@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/img9-tablet.jpg    1x,
              ./images/gallery/img9-tablet@2x.jpg 2x,
              ./images/gallery/img9-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img9-mobile.jpg    1x,
              ./images/gallery/img9-mobile@2x.jpg 2x,
              ./images/gallery/img9-mobile@3x.jpg 3x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/img9-mob.jpg    1x,
              ./images/gallery/img9-mob@2x.jpg 2x,
              ./images/gallery/img9-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img9-mob.jpg" alt="gallery-picture" />
        </picture>
      </li>
      <li class="gallery__item gallery__item10 list">
        <picture>
          <source
            srcset="
              ./images/gallery/img10-desktop.jpg    1x,
              ./images/gallery/img10-desktop@2x.jpg 2x,
              ./images/gallery/img10-desktop@3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/img10-tablet.jpg    1x,
              ./images/gallery/img10-tablet@2x.jpg 2x,
              ./images/gallery/img10-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/img10-mobile.jpg    1x,
              ./images/gallery/img10-mobile@2x.jpg 2x,
              ./images/gallery/img10-mobile@3x.jpg 3x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/img10-mob.jpg    1x,
              ./images/gallery/img10-mob@2x.jpg 2x,
              ./images/gallery/img10-mob@3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img class="img" src="./images/gallery/img10-mob.jpg" alt="gallery-picture" />
        </picture>
      </li>
    </ul>
  </div>
</section>
