<header class="header">
    <div class="header-branches">
        <div >
            <a href="" class="header-logo">
                <img src="./images/header/logo.png" alt="">
            </a>
        </div>
        <div class="header-menu">
            <svg class="menu-icon" width="40px" height="40px">
                <use href="./images/icons.svg#icon-menu-btn"></use>
            </svg>
            <div class="is-hidden">
                <svg class="menu-icon" width="40px" height="40px">
                    <use href="./images/icons.svg#icon-close-btn"></use>
                </svg>
                <button class="menu-btn">
                    Buy now
                </button>
                <ul class="menu-list">
                    <li class="menu-item">Home</li>
                    <li class="menu-item">About us</li>
                    <li class="menu-item">How it’s made?</li>
                    <li class="menu-item">Our products</li>
                    <li class="menu-item">Contact</li>
                </ul>
            </div>
        </div>
    </div>
</header>