<header class="header">
    <div class="container ">
        <div class="header-branch ">
            <a href="" class="header-logo">
                <img src="./images/header/logo.png" alt="">
            </a>
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-item"><a href="./#hero" class="header-nav-link">Home</a></li>
                    <li class="header-nav-item"><a href="./#products" class="header-nav-link">About us</a></li>
                    <li class="header-nav-item"><a href="./#made" class="header-nav-link">How it’s made?</a></li>
                    <li class="header-nav-item"><a href="./#gallery" class="header-nav-link">Our products</a></li>
                    <li class="header-nav-item"><a href="./#contact" class="header-nav-link">Contact</a></li>
                </ul>
            </nav>
            <button class="menu-buy" data-modal-open-header>Buy now &nbsp; &nbsp;
                <svg class="menu-buy-btn" width="8px" height="9px">
                    <use href="./images/icons.svg#icon-greated"></use>
                </svg>
            </button>
            <button type="button" class=" menu-open-btn">
                <svg class="menu-icon " width="40px" height="40px">
                    <use href="./images/icons.svg#icon-menu-btn"></use>
                </svg>
            </button>
        </div>
        <div class="backdrop is-hidden">
            <div class="mob-menu">
                <div class="mob-menu-wrap">
                    <button type="button" class=" menu-close-btn ">
                        <svg class="menu-icon close" width="40px" height="40px">
                            <use href="./images/icons.svg#icon-close-btn"></use>
                        </svg>
                    </button>
                    <div class="menu-buy-wrap">
                    <button class="menu-buy" data-modal-open >Buy now &nbsp; &nbsp;
                        <svg class="menu-buy-btn" width="8px" height="9px">
                            <use href="./images/icons.svg#icon-greated"></use>
                        </svg>
                    </button>
                    </div>
                    <ul class="menu-list">
                        <li class="menu-item"> <a href="./#hero" class="menu-link"> Home</a></li>
                        <li class="menu-item"> <a href="./#products" class="menu-link"> About us</a></li>
                        <li class="menu-item"> <a href="./#made" class="menu-link"> How it’s made?</a></li>
                        <li class="menu-item"> <a href="./#gallery" class="menu-link"> Our products</a></li>
                        <li class="menu-item"> <a href="./#contact" class="menu-link"> Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>