<section class="hero" id="hero">
  <div class="container">
    <h1 class="hero__caption">
      <span class="hero__accent">ice cream made with</span>
      passion
    </h1>
    <div class="statistic__wrap">
      <div class="statistic__bg hero__bg--first"></div>
      <p class="statistic__number hero__number--first">16</p>
      <p class="statistic__text hero__text--first">cafes</p>
      <div class="statistic__bg hero__bg--second"></div>
      <p class="statistic__number hero__number--second">23</p>
      <p class="statistic__text hero__text--second">food trucks</p>
    </div>
    <ul class="hero__list list">
      <li class="hero__item"><a class="hero__link link" href="./#products">Products</a></li>
      <li class="hero__item">
        <a class="hero__link hero__link--accent link" href="./#made">How it&#39;s made?</a>
      </li>
    </ul>
    <p class="hero__after-title">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <button type="button" class="hero__btn">
      <svg width="6px" height="6px">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
    <picture>
      <source
        srcset="
          ./images/hero/milk-desktop-x1.png 1x,
          ./images/hero/milk-desktop-x2.png 2x,
          ./images/hero/milk-tablet-x3.png  3x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/milk-tablet-x1.png 1x,
          ./images/hero/milk-tablet-x2.png 2x,
          ./images/hero/milk-tablet-x3.png 3x
        "
        media="(min-width:768px)"
      />
      <img class="hero__img-second" src="./images/hero/milk-tablet-x1.png" alt="ice cream" />
    </picture>
    <picture class="hero__img-main--bg">
      <source
        srcset="
          ./images/hero/icecream-desktop-x1.png 1x,
          ./images/hero/icecream-desktop-x2.png 2x,
          ./images/hero/icecream-desktop-x3.png 3x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/icecream-tablet-x1.png 1x,
          ./images/hero/icecream-tablet-x2.png 2x,
          ./images/hero/icecream-tablet-x3.png 3x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/icecream-mob-x1.png 1x,
          ./images/hero/icecream-mob-x2.png 2x,
          ./images/hero/icecream-mob-x3.png 3x
        "
        media="(max-width:767px)"
      />
      <img class="hero__img-main" src="./images/hero/icecream-mob-x1.png" alt="ice cream" />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero/tasty-desktop-x1.png 1x,
          ./images/hero/tasty-desktop-x2.png 2x,
          ./images/hero/tasty-desktop-x3.png 3x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/tasty-tablet-x1.png 1x,
          ./images/hero/tasty-tablet-x2.png 2x,
          ./images/hero/tasty-tablet-x3.png 3x
        "
        media="(min-width:768px)"
      />
      <img class="hero__img-third" src="./images/hero/tasty-tablet-x1.png" alt="ice cream" />
    </picture>
    <div class="animation hero__img-main--bg">
      <img class="animation__picture0" src="./images/hero/hero-animation/horn.png" alt="ice cream horn" />
      <img class="animation__picture1" src="./images/hero/hero-animation/ice1.png" alt="scoop of ice cream pink" />
      <img class="animation__picture2" src="./images/hero/hero-animation/ice2.png" alt="scoop of ice cream gold" />
      <img class="animation__picture3" src="./images/hero/hero-animation/ice3.png" alt="scoop of ice cream green" />
      <img class="animation__picture4" src="./images/hero/hero-animation/ice4.png" alt="scoop of ice cream orange" />
      <img class="animation__picture5" src="./images/hero/hero-animation/ice5.png" alt="scoop of ice cream yellow" />
      <img class="animation__picture6" src="./images/hero/hero-animation/ice6.png" alt="scoop of ice cream white" />
    </div>
    <div class="patric">
      <img class="patric__img fly" src="./images/hero/patrik/15-min.png" alt="">
      <img class="patric__img pos0" src="./images/hero/patrik/0-min.png" alt="">
      <img class="patric__img pos1" src="./images/hero/patrik/1-min.png" alt="">
      <img class="patric__img pos2" src="./images/hero/patrik/2-min.png" alt="">
      <img class="patric__img pos3" src="./images/hero/patrik/3-min.png" alt="">
      <img class="patric__img pos4" src="./images/hero/patrik/4-min.png" alt="">
      <img class="patric__img pos5" src="./images/hero/patrik/5-min.png" alt="">
      <img class="patric__img pos6" src="./images/hero/patrik/6-min.png" alt="">
      <img class="patric__img pos7" src="./images/hero/patrik/7-min.png" alt="">
      <img class="patric__img pos8" src="./images/hero/patrik/8-min.png" alt="">
      <img class="patric__img pos9" src="./images/hero/patrik/9-min.png" alt="">
      <img class="patric__img pos10" src="./images/hero/patrik/10-min.png" alt="">
      <img class="patric__img pos11" src="./images/hero/patrik/11-min.png" alt="">
      <img class="patric__img pos12" src="./images/hero/patrik/12-min.png" alt="">
      <img class="patric__img pos13" src="./images/hero/patrik/13-min.png" alt="">
      <img class="patric__img pos14" src="./images/hero/patrik/14-min.png" alt="">
      <img class="patric__img pos15" src="./images/hero/patrik/15-min.png" alt="">
      <img class="patric__img pos16" src="./images/hero/patrik/16-min.png" alt="">
      <img class="patric__img pos17" src="./images/hero/patrik/17-min.png" alt="">
      <img class="patric__img pos18" src="./images/hero/patrik/18-min.png" alt="">
      <img class="patric__img pos19" src="./images/hero/patrik/19-min.png" alt="">
      <img class="patric__img pos20" src="./images/hero/patrik/20-min.png" alt="">
      <img class="patric__img pos21" src="./images/hero/patrik/21-min.png" alt="">
      <img class="patric__img pos22" src="./images/hero/patrik/22-min.png" alt="">
      <img class="patric__img pos23" src="./images/hero/patrik/23-min.png" alt="">
      <img class="patric__img pos24" src="./images/hero/patrik/24-min.png" alt="">
      <img class="patric__img pos25" src="./images/hero/patrik/25-min.png" alt="">
      <img class="patric__img pos26" src="./images/hero/patrik/26-min.png" alt="">
      <img class="patric__img pos27" src="./images/hero/patrik/27-min.png" alt="">
      <img class="patric__img pos28" src="./images/hero/patrik/28-min.png" alt="">
      <img class="patric__img pos29" src="./images/hero/patrik/29-min.png" alt="">
      <img class="patric__img pos30" src="./images/hero/patrik/30-min.png" alt="">
      <img class="patric__img pos31" src="./images/hero/patrik/31-min.png" alt="">
      <img class="patric__img pos32" src="./images/hero/patrik/30-min.png" alt="">
      <img class="patric__img pos33" src="./images/hero/patrik/31-min.png" alt="">
      <img class="patric__img pos34" src="./images/hero/patrik/30-min.png" alt="">
      <img class="patric__img pos35" src="./images/hero/patrik/31-min.png" alt="">
    </div>
  </div>
</section>
