<section class="hero">
    <div class="container">
        <h1 class="hero__caption">
            <span class="hero__accent">ice cream made with</span>
            passion
        </h1>
        <ul class="hero__list list">
            <li class="hero__item"><a class="hero__link link" href="./#Products">Products</a></li>
            <li class="hero__item"><a class="hero__link link" href="./#How-its-made">How it&#39;s made?</a></li>
        </ul>
        <picture class="hero__img--bg">
            <source srcset="
            ./images/hero/icecream-mob-x1.png 1x,
            ./images/hero/icecream-mob-x2.png 2x,
            ./images/hero/icecream-mob-x3.png 3x" 
            media="(max-width:767px)">
            <img class="hero__img" src="./images/hero/icecream-mob-x1.png" alt="ice cream">
        </picture>
    </div>
</section>