<section class="made">
  <label class="made__label" for="made__title">tradition and love</label>
  <h1 class="made__title" id="made__title">how it’s made?</h1>
  <div class="thumb">
    <picture class="picture">
      <source
        media="(min-width:320px)"
        srcset="
          ./images/cow-mob-min.png    1x,
          ./images/cow-mob-2x-min.png 2x,
          ./images/cow-mob-3x-min.png 3x
        "
      />
      <img src="./images/cow-mob-min.png" alt="Cow and Milk" />
    </picture>
    <p class="made__text">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <p class="made__text made__text--color">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt. 
      </p>
    <p class="made__text made__text--color made__text--mb">Aliquam erat volutpat. Aenean accumsan.</p>
    <button class="made__btn" type="button">Read more 	
&#8250</button>
  </div>
  <div class="bcg__image"></div>
  <div class="benefits">
    <ul class="benefits__list">
      <li class="benefits__icon list">
        <picture>
          <source
            media="(min-width:320px)"
            srcset="
              ./images/icecream-mob-min.png    1x,
              ./images/icecream-mob-2x-min.png 2x,
              ./images/icecream-mob-3x-min.png 3x
            "
          />
          <img src="./images/icecream-mob-min.png" alt="icecream" />
        </picture>
        <p class="benefits__indicator">721</p>
        <p class="benefits__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="benefits__icon list">
        <picture>
          <source
            media="(min-width:320px)"
            srcset="
              ./images/bucket-mob-min.png    1x,
              ./images/bucket-mob-2x-min.png 2x,
              ./images/bucket-mob-3x-min.png 3x
            "
          />
          <img src="./images/bucket-mob-min.png" alt="bucket" />
        </picture>
        <p class="benefits__indicator">16kg</p>
        <p class="benefits__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="benefits__icon list">
        <picture>
          <source
            media="(min-width:320px)"
            srcset="
              ./images/candy-mob-min.png    1x,
              ./images/candy-mob-2x-min.png 2x,
              ./images/candy-mob-3x-min.png 3x
            "
          />
          <img src="./images/candy-mob-min.png" alt="candy" />
        </picture>
        <p class="benefits__indicator">84</p>
        <p class="benefits__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
