<section class="made">
  <div class="container">
    <label class="made__label" for="made__title">tradition and love</label>
    <h1 class="made__title" id="made__title">how it’s made?</h1>
    <div class="thumb">
      <div class="about-picture">
        <picture>
          <source
            media="(min-width:768px)"
            srcset="
              ./images/howmade/cow-tablet-min.png    1x,
              ./images/howmade/cow-tablet-2x-min.png 2x,
              ./images/howmade/cow-tablet-3x-min.png 3x
            "
          />

          <source
            media="(min-width:320px)"
            srcset="
              ./images/howmade/cow-mob-min.png    1x,
              ./images/howmade/cow-mob-2x-min.png 2x,
              ./images/howmade/cow-mob-3x-min.png 3x
            "
          />
          <img src="./images/howmade/cow-mob-min.png" alt="Cow and Milk" />
        </picture>
      </div>
      <div class="about">
        <p class="made__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="made__text made__text--color">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="made__text made__text--color made__text--mb">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="made__btn" type="button">
          Read more <span class="modification">&#62;</span>
        </button>
      </div>
    </div>
    <div class="milk__left">
      <!-- <picture>
        <source
          media="(min-width:320px)"
          srcset="
            ./images/howmade/bcg-image-min.png    1x,
            ./images/howmade/bcg-image-2x-min.png 2x,
            ./images/howmade/bcg-image-3x-min.png 3x
          "
        />
        <img src="./images/howmade/bcg-image-min.png" alt="icecream" />
      </picture> -->
      <picture>
        <source
          media="(min-width:320px)"
          srcset="
            ./images/howmade/milk-mob-min-left.png    1x,
            ./images/howmade/milk-mob-2x-min-left.png 2x,
            ./images/howmade/milk-mob-3x-min-left.png 3x
          "
        />
        <img src="./images/howmade/milk-mob-min-left.png" alt="icecream" />
      </picture>
    </div>
    <div class="milk__right">
      <picture>
        <source
          media="(min-width:320px)"
          srcset="
            ./images/howmade/milk-mob-min-right.png    1x,
            ./images/howmade/milk-mob-2x-min-right.png 2x,
            ./images/howmade/milk-mob-3x-min-right.png 3x
          "
        />
        <img src="./images/howmade/milk-mob-min-right.png" alt="icecream" />
      </picture>
    </div>
    <h2 class="visually-hidden">Advantages</h2>
    <div class="benefits">
      <ul class="benefits__list">
        <li class="benefits__icon list">
          <!-- <picture>
            <source
              media="(min-width:320px)"
              srcset="
                ./images/howmade/icecream-mob-min.png    1x,
                ./images/howmade/icecream-mob-2x-min.png 2x,
                ./images/howmade/icecream-mob-3x-min.png 3x
              "
            />
            <img src="./images/howmade/icecream-mob-min.png" alt="icecream" />
          </picture> -->
          <p class="benefits__indicator benefits__indicator--icecream">721</p>
          <p class="benefits__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="benefits__icon list">
          <!-- <picture>
            <source
              media="(min-width:320px)"
              srcset="
                ./images/howmade/bucket-mob-min.png    1x,
                ./images/howmade/bucket-mob-2x-min.png 2x,
                ./images/howmade/bucket-mob-3x-min.png 3x
              "
            />
            <img src="./images/howmade/bucket-mob-min.png" alt="bucket" />
          </picture> -->
          <p class="benefits__indicator benefits__indicator--bucket">16kg</p>
          <p class="benefits__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="benefits__icon list">
          <!-- <picture>
            <source
              media="(min-width:320px)"
              srcset="
                ./images/howmade/candy-mob-min.png    1x,
                ./images/howmade/candy-mob-2x-min.png 2x,
                ./images/howmade/candy-mob-3x-min.png 3x
              "
            />
            <img src="./images/howmade/candy-mob-min.png" alt="candy" />
          </picture> -->
          <p class="benefits__indicator benefits__indicator--candy">84</p>
          <p class="benefits__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
