<div class="backdrop is-hidden" data-modal>
  <div class="modal-wrap">
    <div class="modal-photo">
      <div class="modal-photo__container">
        <p class="modal-photo__text">Hot summer sale</p>
        <div class="modal-photo__thumb">
          <picture>
            <source
              srcset="
                ./images/modal/ice-cream-desktop-1x.jpg 1x,
                ./images/modal/ice-cream-desktop-2x.jpg 2x,
                ./images/modal/ice-cream-desktop-3x.jpg 3x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/modal/ice-cream-tablet-1x.jpg 1x,
                ./images/modal/ice-cream-tablet-2x.jpg 2x,
                ./images/modal/ice-cream-tablet-3x.jpg 3x
              "
              media="(min-width: 768px)" />
            <img
              class="modal-photo__img"
              src="./images/modal/ice-cream-tablet-1x.jpg"
              alt="Ice Cream"
          /></picture>
        </div>
      </div>
    </div>
    <div class="modal">
      <button class="modal__close btn" data-modal-close>
        <svg width="18" height="18">
          <use href="./images/icons.svg#icon-close-btn"></use>
        </svg>
      </button>
      <p class="modal__title title">Fill in to make an order</p>
      <form action="#" class="modal-form">
        <div class="form-field">
          <label for="user-name" class="modal-form__label">Your name:</label>
          <div class="wrap-input">
            <input
              type="text"
              name="user-name"
              id="user-name"
              class="modal-form__input"
              placeholder="Name"
              required
            />
            <svg width="18" height="18" class="modal-form__svg">
              <use href="./images/icons.svg#icon-person"></use>
            </svg>
          </div>
        </div>
        <div class="form-field">
          <label for="user-phone" class="modal-form__label">Phone number:</label>
          <div class="wrap-input">
            <input
              type="tel"
              name="user-phone"
              id="user-phone"
              class="modal-form__input"
              placeholder="Phone"
              required
            />
            <svg width="18" height="18" class="modal-form__svg">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
          </div>
        </div>
        <div class="form-field">
          <label for="user-address" class="modal-form__label">Address:</label>
          <div class="wrap-input">
            <input
              type="adress"
              name="user-address"
              id="user-address"
              class="modal-form__input"
              placeholder="City, district, street №"
              required
            />
            <svg width="18" height="18" class="modal-form__svg">
              <use href="./images/icons.svg#icon-home"></use>
            </svg>
          </div>
        </div>
        <fieldset class="order">
          <legend class="order__title">Your choise</legend>
          <label class="order__label" for="ice-cream"
            >Ice Cream
            <select class="order__select" name="ice-cream" id="ice-cream">
              <option class="order__option" value="Chocolate">Chocolate</option>
              <option class="order__option" value="Vanilla">Vanilla</option>
              <option class="order__option" value="Toffee">Toffee</option>
            </select>
            <input
              class="order__input"
              type="number"
              name="quantity"
              min="0"
              max="500"
              placeholder="0"
            />
          </label>

          <label class="order__label" for="ice-coffee"
            >Ice Coffee
            <select class="order__select" name="ice-coffee" id="ice-coffee">
              <option class="order__option" value="Chocolate">Chocolate</option>
              <option class="order__option" value="Vanilla">Vanilla</option>
              <option class="order__option" value="Toffee">Toffee</option>
            </select>
            <input
              class="order__input"
              type="number"
              name="quantity"
              min="0"
              max="500"
              placeholder="0"
            />
          </label>
          <label class="order__label" for="milkshakes"
            >Milkshakes
            <select class="order__select" name="milkshakes" id="milkshakes">
              <option class="order__option" value="Chocolate">Chocolate</option>
              <option class="order__option" value="Vanilla">Vanilla</option>
              <option class="order__option" value="Toffee">Toffee</option>
            </select>
            <input
              class="order__input"
              type="number"
              name="quantity"
              min="0"
              max="500"
              placeholder="0"
            />
          </label>
        </fieldset>
        <div class="privacy">
          <input
            type="checkbox"
            class="privacy__input visually-hidden"
            name="modal-check"
            id="modal-check"
          />
          <label class="privacy__text" for="modal-check">
            <div class="privacy-wrap">
              <svg width="16" height="15" class="privacy__icon">
                <use href="./images/icons.svg#icon-privacy"></use>
              </svg>
            </div>
            I agree to the processing of personal data
          </label>
          <button type="submit" class="modal__submit btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
