<div data-modal-howmade class="backdrop is-hidden">
  <div class="modal">
    <button data-modal-close-howmade class="modal__close btn">
      <svg width="18" height="18">
        <use href="./images/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <p class="modal__title title">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta deserunt possimus ipsa optio
      veritatis fugiat, laudantium vel temporibus neque ducimus aperiam a reprehenderit. Dignissimos
      cupiditate sit et voluptatibus asperiores possimus vero, eligendi iure. Eligendi, odio unde
      enim repellat neque dolores.
    </p>
  </div>
</div>
