<section class="products">
    <div class="container">
        <h3 class="products-pre-tite">100% Natural</h3>
        <h2 class="products-title" id="products">Products</h2>
        <ul class="product-set list">
            <li class="product-set__item">
                <a href="" class="product-card link">
                    <div class="product-card__thumb">
                        <picture>
                            <source srcset="
                                ./images/products/prod-icecream-desk-1x.png 1x,
                                ./images/products/prod-icecream-desk-1x.png 2x,
                                ./images/products/prod-icecream-desk-2x.png 3x" media="(min-width: 1280px)" />
                            <source srcset="
                                ./images/products/prod-icecream-tab-1x.png 1x,
                                ./images/products/prod-icecream-tab-1x.png 2x,
                                ./images/products/prod-icecream-tab-2x.png 3x" media="(min-width: 768px)" />
                            <source srcset="
                                ./images/products/prod-icecream-mob-1x.png 1x,
                                ./images/products/prod-icecream-mob-1x.png 2x,
                                ./images/products/prod-icecream-mob-2x.png 3x" media="(min-width: 320px)" />
                            <img class="product-card__img" src="./images/products/prod-icecream-mob-1x.png"
                                alt="icecream menu" />
                        </picture>
                    </div>
                    <div class="product-card__info product-card__info--rose">
                        <h3 class="product-card__title">Ice Cream</h3>
                        <svg class="product-card__icon" width="26" height="6">
                            <use href="./images/icons.svg#icon-dots"></use>
                        </svg>
                        <p class="product-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <svg class="product-card__btn" width="6" height="6">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="product-set__item">
                <a href="" class="product-card link">
                    <div class="product-card__thumb">
                        <picture>
                            <source srcset="
                                            ./images/products/prod-cofee-desk-1x.png 1x,
                                            ./images/products/prod-cofee-desk-1x.png 2x,
                                            ./images/products/prod-cofee-desk-2x.png 3x" media="(min-width: 1280px)" />
                            <source srcset="
                                            ./images/products/prod-cofee-tab-1x.png 1x,
                                            ./images/products/prod-cofee-tab-1x.png 2x,
                                            ./images/products/prod-cofee-tab-2x.png 3x" media="(min-width: 768px)" />
                            <source srcset="
                                            ./images/products/prod-cofee-mob-1x.png 1x,
                                            ./images/products/prod-cofee-mob-1x.png 2x,
                                            ./images/products/prod-cofee-mob-2x.png 3x" media="(min-width: 320px)" />
                            <img class="product-card__img" src="./images/products/prod-cofee-mob-1x.png"
                                alt="icecream menu" />
                        </picture>
                    </div>
                    <div class="product-card__info product-card__info--coffee">
                        <h3 class="product-card__title">Ice Cream</h3>
                        <svg class="product-card__icon" width="26" height="6">
                            <use href="./images/icons.svg#icon-dots"></use>
                        </svg>
                        <p class="product-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <svg class="product-card__btn" width="6" height="6">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="product-set__item">
                <a href="" class="product-card link">
                    <div class="product-card__thumb">
                        <picture>
                            <source srcset="
                                            ./images/products/prod-shake-desk-1x.png 1x,
                                            ./images/products/prod-shake-desk-1x.png 2x,
                                            ./images/products/prod-shake-desk-2x.png 3x" media="(min-width: 1280px)" />
                            <source srcset="
                                            ./images/products/prod-shake-tab-1x.png 1x,
                                            ./images/products/prod-shake-tab-1x.png 2x,
                                            ./images/products/prod-shake-tab-2x.png 3x" media="(min-width: 768px)" />
                            <source srcset="
                                            ./images/products/prod-shake-mob-1x.png 1x,
                                            ./images/products/prod-shake-mob-1x.png 2x,
                                            ./images/products/prod-shake-mob-2x.png 3x" media="(min-width: 320px)" />
                            <img class="product-card__img" src="./images/products/prod-shake-mob-1x.png"
                                alt="icecream menu" />
                        </picture>
                    </div>
                    <div class="product-card__info product-card__info--pistacho">
                        <h3 class="product-card__title">Ice Cream</h3>
                        <svg class="product-card__icon" width="26" height="6">
                            <use href="./images/icons.svg#icon-dots"></use>
                        </svg>
                        <p class="product-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <svg class="product-card__btn" width="6" height="6">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>