<section class="products">
    <div class="container">
        <span class="products-pre-tite">100% Natural</span>
        <h2 class="products-title">Products</h2>
        <ul class="product-set list">
            <li class="product-set__item product-set__item--rose">
                <a href="" class="product-card link">
                    <h3 class="product-card__title">Ice Cream</h3>
                    <p class="product-card__text">Ice cream the way it should be. No preservatives, harmful substances,
                        vegetable fats, artificial colors and flavors.
                    </p>
                    <button type="button" class="product-card__btn button">
                        <svg class="" width="12" height="12">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </a>
            </li>
            <!-- <div class="product-overlay">
                <form class="product-form" action="">
                    <h3>Cone types</h3>
                    <label>
                        <input type="checkbox" name="cone-types" value="music" checked />
                        Chocolate cone
                    </label>
                    <label>
                        <input type="checkbox" name="cone-types" value="music" checked />
                        Sugar cone
                    </label>
                    <label>
                        <input type="checkbox" name="cone-types" value="music" checked />
                        Wafer cone
                    </label>
                    <label>
                        <input type="checkbox" name="cone-types" value="music" checked />
                        wafler cone
                    </label>

                    <h3>Flavours</h3>
                    <label>
                        <input type="checkbox" name="flavours" value="music" checked />
                        Mango
                    </label>
                    <label>
                        <input type="checkbox" name="flavours" value="music" checked />
                        Mint
                    </label>
                    <label>
                        <input type="checkbox" name="flavours" value="music" checked />
                        Strawberry
                    </label>
                    <label>
                        <input type="checkbox" name="flavours" value="music" checked />
                        Vanila
                    </label>

                </form>
            </div> -->
            <li class="product-set__item product-set__item--coffee">
                <a href="" class="product-card link">
                    <h3 class="product-card__title">Ice Coffee</h3>
                    <p class="product-card__text">Coffee lovers cannot imagine a day without this wonderful drink that
                        can not only warm, but also refresh.
                    </p>
                    <button type="button" class="product-card__btn button">
                        <svg class="" width="12" height="12">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </a>
            </li>
            <li class="product-set__item product-set__item--pistacho">
                <a href="" class="product-card link">
                    <h3 class="product-card__title">Milkshakes</h3>
                    <p class="product-card__text">Dessert drink based on milk and ice cream, one of the symbols of
                        American cuisine.
                    </p>
                    <button type="button" class="product-card__btn button">
                        <svg class="" width="12" height="12">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </a>
            </li>
        </ul>
    </div>
</section>