.modal__howmade {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95vw;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 767.98px) {
    min-width: 320px;
    max-width: 420px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    height: 70vh;
    border-radius: 0;
    max-width: 350px;
    height: 450px;
  }
  @include desktop {
    height: 70vh;
    width: 550px;
    height: 700px;
    padding: 25px 50px;
  }
  padding: 20px;
  padding-top: 35px;

  background-image: url(../images/modal/modal-bg.png);
  background-color: $main-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close {
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 10px;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 6px;
  margin: 0;

  border-radius: 50%;
  background-color: $input-bg-color;

  transition: fill $timing-function-duration $timing-function;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.modal__description__title {
  margin-bottom: 40px;
  font-family: $secondary-font-family;
  @include font(20px, 400, 1.15, 0.01em);
  @include desktop {
    @include font(30px, null, null, null);
  }
  text-align: center;
  color: $secondary-text-color;

  text-transform: uppercase;
  margin-top: 20px;
}

.modal__description__text {
  font-family: $main-font-family;
  @include font(16px, 500, 1.15, 0.01em);
  @include desktop {
    @include font(26px, null, null, null);
  }

  color: rgba(255, 255, 255, 0.8);
}

// .modal__wrap {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 95vw;
//   transform: translate(-50%, -50%);
//   @include mobile {
//     min-width: 320px;
//     max-width: 420px;
//   }
//   @include tablet {
//     display: flex;
//     top: 50%;
//     max-width: 704px;
//     height: 626px;
//     border-radius: 10px;
//     transform: translate(-50%, -50%);
//   }
//   @include desktop {
//     max-width: 1066px;
//   }
//   @media (orientation: landscape) {
//     left: 50%;
//     top: 15px;
//     transform: translate(-50%);
//   }
//   transition: transform $timing-function-duration $timing-function;
// }

.modal__picture {
  @media screen and (max-width: 767.98px) {
    display: block;
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    width: 130px;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1280px) {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
