.modal-wrap {
  position: absolute;
  top: 15px;
  left: 50%;
  width: 95vw;
  transform: translate(-50%);
  @include mobile {
    top: 55%;
    min-width: 320px;
    max-width: 420px;
    transform: translate(-50%, -50%);
  }
  @include tablet {
    display: flex;
    top: 50%;
    max-width: 704px;
    height: 626px;
    border-radius: 10px;
  }
  @include desktop {
    max-width: 1066px;
  }
  @media (orientation: landscape) {
    left: 50%;
    top: 15px;
    transform: translate(-50%);
  }
  transition: transform $timing-function-duration $timing-function;
}
.modal-photo {
  display: none;
  @include tablet {
    display: block;
  }
}
.modal-photo__container {
  position: relative;
  text-align: center;
}
.modal-photo__thumb {
  display: block;
  width: 352px;
  height: 626px;
  @include desktop {
    width: 533px;
    height: 700px;
  }
}

.modal-photo__img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.modal-photo__text {
  position: absolute;
  display: block;
  width: 352px;
  top: 35px;
  left: 50%;
  transform: translate(-50%);

  font-family: $secondary-font-family;
  @include font(20px, 400, 1.15, 0.01em);
  @include desktop {
    top: 25px;
    @include font(30px, null, null, null);
  }
  text-transform: uppercase;

  color: $secondary-text-color;
}
.modal {
  position: relative;
  top: 0;

  width: 95vw;

  @include mobile {
    min-width: 320px;
    max-width: 420px;
  }
  @include tablet {
    right: 0;
    border-radius: 0;
    max-width: 352px;
  }
  @include desktop {
    max-width: 533px;
    height: 700px;
    padding: 25px 50px;
    // padding-top: 25px;
  }
  padding: 20px;
  padding-top: 35px;

  background-image: url(../images/modal/modal-bg.png);
  background-color: $main-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 6px;
  margin: 0;

  border-radius: 50%;
  background-color: $input-bg-color;

  transition: fill $timing-function-duration $timing-function;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.modal__title {
  margin-bottom: 12px;
  font-family: $secondary-font-family;
  @include font(20px, 400, 1.15, 0.01em);
  @include desktop {
    @include font(30px, null, null, null);
  }

  text-align: center;
  color: $secondary-text-color;

  text-transform: uppercase;
}
.modal__submit {
  display: block;
  width: 100%;
  color: $main-text-color;
  @include font(16px, 500, 1.31);
  @media screen and (min-width: 320px) {
    width: 280px;
    padding: 0px 95px;
  }
  @include desktop {
    @include font(25px, null, null);
  }
  height: 44px;
  border-radius: 20px;
  padding: 0px 20px;
  margin: 0px auto;
  opacity: 0.5;
  pointer-events: none;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  .privacy__input:checked ~ & {
    opacity: 1;
    pointer-events: auto;
  }
}
