.contact {
    
    padding-bottom: 48px;
    background-image: linear-gradient(180deg, #fff 25%, #fff5f6 0);
    
    @media screen and (min-width: 768px){
   
    padding-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
     
     padding-bottom: 120px;
        }
   
}
.contact__main{
    @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    @media screen and (min-width: 768px) {
    display: flex;
    }
    @media screen and (min-width: 1280px) {
    justify-content: center;

}
} 

.contact__list {
    
    @media screen and (max-width: 767px){
    max-width: 280px;
    }
    
    display: block;
    margin-bottom: 20px;

    @media screen and (min-width: 768px){
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
         margin-bottom: 60px;
        }

}

@media screen and (max-width: 768px){
.contact__list:nth-child(3) {
    margin-bottom: 0px;
}
}
.contact__container {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $hero-text-second;

    border: 1px solid $hero-text-second;
    border-radius: 24px;
    box-shadow: 0 8px 30px rgb(212 20 67 / 10%);

    @media screen and (min-width: 1280px){
    padding-left: 40px;
    padding-right: 65px;
    }

    
}

@media screen and (min-width: 768px) {
    .contact__list:not(:last-child){
    margin-right: 32px;
    }
}

.contact__cafe {
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 80px;
    
    text-align: center;
    font-family: $main-font-family;
    @include font (12px, 500, 22/12, null);

    @media screen and (min-width: 768px){
    @include font (16px, 500, 30/16, null);
    margin-bottom: 32px;
    }
    
        background-color: #F0D1A5;
        color: $hero-text-second;

     @media screen and (min-width: 1280px) {
        margin-bottom: 32px;
     }

}

.contact__city {
    margin-bottom: 8px;
    font-family: $main-font-family;
    @include font (12px, 500, 22/12, null);

    @media screen and (min-width: 768px) {
     @include font (14px, 500, 26/14, null);
    margin-bottom: 12px;
        }

     @media screen and (min-width: 1280px) {
     @include font (16px, 500, 30/16, null);
    margin-bottom: 8px;
                }
    
}

.contact__about {
    font-family: $main-font-family;
    @include font (12px, 500, 18/12, null);

    padding-bottom: 24px;
    border-bottom: 1px solid #E1E1E1;
    color: #907E82;

    @media screen and (min-width: 768px) {
     @include font (14px, 500, 23/14, null);
    padding-bottom: 32px;
        }

     @media screen and (min-width: 1280px) {
    @include font (16px, 500, 29/16, null);
        max-width: 250px;
          }
    
}

.contact__day {
    font-family: $main-font-family;
    @include font (12px, 500, 22/12, null);

    @media screen and (min-width: 768px) {
    @include font (14px, 500, 26/14, null);
    padding-top: 32px;
        }

    padding-top: 24px;

    @media screen and (min-width: 1280px) {
    @include font (16px, 500, 30/16, null);
        }
}

.weekend{
    padding-top: 0px
}

.contact__time {
    display: block;
    color: $hero-bg-second;
    padding-bottom: 8px;
    font-family: $main-font-family;
    @include font (12px, 500, 22/12, null);

    @media screen and (min-width: 768px) {
     @include font (14px, 500, 26/14, null);
    padding-bottom: 12px;
        }
    @media screen and (min-width: 1280px) {
    @include font (16px, 500, 30/16, null);
         }
    
    
}
.weekend__time{
padding-bottom: 24px;

@media screen and (min-width: 768px){
padding-bottom: 32px;
}
}

.contact__data {
    padding-top: 24px;
border-top: 1px solid #E1E1E1;

@media screen and (min-width: 768px) {
        padding-top: 32px;
}
}

.contact__link {
    display: block;
    color: #907E82;
    font-family: $main-font-family;
    @include font (12px, 500, 18/12, null);

    @media screen and (min-width: 768px) {
     @include font (14px, 500, 26/14, null);
        }
    @media screen and (min-width: 1280px) {
    @include font (16px, 500, 29/16, null);
                }
}

.cafe {
    display: inline-block;
        margin-bottom: 20px;
        border-radius: 4px;
        width: 130px;
        
        text-align: center;
    
        @include font (12px, 500, 22/12, null);

        @media screen and (min-width: 768px) {
         @include font (16px, 500, 30/16, null);
        margin-bottom: 32px;
            }
    background-color: #C2E297;
        color: $hero-text-second;
        font-family: $main-font-family;
        
}

.contact__button{
    @media screen and (min-width: 768px){
        text-align: center;
    }

}
.contact__btn {

    display: block;
    font-family: $main-font-family;
    @include font (16px, 700, 21/16, null);
    
    text-align: center;
    border: 1px transparent;
    cursor: pointer;
    border-radius: 22px;
    height: 44px;
    width: 161px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color $hero-duration250ms $hero-time-function;

    @media screen and (min-width: 768px){
        display: inline-block;
    }
}
.first-btn {
margin-top: 32px;

background-color: $hero-text-first;
color: $hero-text-second;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (max-width: 767px){
margin-bottom: 20px;
}

@media screen and (min-width: 768px){
margin-top: 0;
margin-right: 14px;
}

@media screen and (min-width: 1280px) {
    margin-top: 0;
    margin-right: 15px;
}
}
.second-btn {
    background-color: $hero-text-second;
    color: $hero-text-first;

}

.first-btn:hover,
.first-btn:focus {
    background-color: #C7133E;

}

.second-btn:hover,
.second-btn:focus {
background-color:$show-made-bcg-btn-hover-color;

}
    // .first-svg {
    //     fill: white;
    // }