.contact {
    
    padding-bottom: 48px;
    background-image: linear-gradient(180deg, #fff 25%, #fff5f6 0);
    
    @media screen and (min-width: 768px){
   
    padding-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
     
     padding-bottom: 120px;
        }
   
}
.contact__main{
    @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    @media screen and (min-width: 768px) {
    display: flex;
    }
    @media screen and (min-width: 1280px) {
    justify-content: center;

}
} 

.contact__list {
    
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 767px){
    max-width: 280px;

    }
    
    display: block;
    margin-bottom: 20px;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px){
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 60px;
        
        }

}

.contact__list:last-child {
    @media screen and (max-width: 767px){
    margin-bottom: 0px;
   } 
}

.contact__list:hover{
transform: scale(1.05);
box-shadow: 0 8px 30px rgb(212 20 67 / 20%);
border-radius: 24px;
outline: 1px solid rgb(212 20 67/10%);
}

// @media screen and (max-width: 768px){
// .contact__list:nth-child(3) {
//     margin-bottom: 0px;
// }
// }
.contact__container {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $hero-text-second;

    border: 1px solid $hero-text-second;
    border-radius: 24px;
    box-shadow: 0 8px 30px rgb(212 20 67 / 10%);

    @media screen and (min-width: 1280px){
    padding-left: 40px;
    padding-right: 65px;
    
    }

    
}

@media screen and (min-width: 768px) {
    .contact__list:not(:last-child){
    margin-right: 32px;
    }
}

.contact__cafe {
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 80px;
    
    text-align: center;
    font-family: $main-font-family;
    @include font (12px, 500, 22/12, null);

    @media screen and (min-width: 768px){
    @include font (16px, 500, 30/16, null);
    margin-bottom: 32px;
    }
    
        background-color: #F0D1A5;
        color: $hero-text-second;

     @media screen and (min-width: 1280px) {
        margin-bottom: 32px;
     }

}

.contact__city {
    margin-bottom: 8px;
    font-family: $main-font-family;
    @include font (12px, 500, 22/12, null);

    @media screen and (min-width: 768px) {
     @include font (14px, 500, 26/14, null);
    margin-bottom: 12px;
        }

     @media screen and (min-width: 1280px) {
     @include font (16px, 500, 30/16, null);
    margin-bottom: 8px;
                }
    
}

.contact__about {
    font-family: $main-font-family;
    @include font (12px, 500, 18/12, null);

    padding-bottom: 24px;
    border-bottom: 1px solid #E1E1E1;
    color: #907E82;

    @media screen and (min-width: 768px) {
     @include font (14px, 500, 23/14, null);
    padding-bottom: 32px;
        }

     @media screen and (min-width: 1280px) {
    @include font (16px, 500, 29/16, null);
        max-width: 250px;
          }
    
}

.contact__day {
    font-family: $main-font-family;
    @include font (12px, 500, 22/12, null);

    @media screen and (min-width: 768px) {
    @include font (14px, 500, 26/14, null);
    padding-top: 32px;
        }

    padding-top: 24px;

    @media screen and (min-width: 1280px) {
    @include font (16px, 500, 30/16, null);
        }
}

.weekend{
    padding-top: 0px
}

.contact__time {
    display: block;
    color: $hero-bg-second;
    padding-bottom: 8px;
    font-family: $main-font-family;
    @include font (12px, 500, 22/12, null);

    @media screen and (min-width: 768px) {
     @include font (14px, 500, 26/14, null);
    padding-bottom: 12px;
        }
    @media screen and (min-width: 1280px) {
    @include font (16px, 500, 30/16, null);
         }
    
    
}
.weekend__time{
padding-bottom: 24px;

@media screen and (min-width: 768px){
padding-bottom: 32px;
}
}

.contact__data {
    padding-top: 24px;
border-top: 1px solid #E1E1E1;

@media screen and (min-width: 768px) {
        padding-top: 32px;
}
}

.contact__link {
    display: block;
    color: #907E82;
    font-family: $main-font-family;
    @include font (12px, 500, 18/12, null);

    @media screen and (min-width: 768px) {
     @include font (14px, 500, 26/14, null);
        }
    @media screen and (min-width: 1280px) {
    @include font (16px, 500, 29/16, null);

    
                }
}


.cafe {
    display: inline-block;
        margin-bottom: 20px;
        border-radius: 4px;
        width: 130px;
        
        text-align: center;
    
        @include font (12px, 500, 22/12, null);

        @media screen and (min-width: 768px) {
         @include font (16px, 500, 30/16, null);
        margin-bottom: 32px;
            }
    background-color: #C2E297;
        color: $hero-text-second;
        font-family: $main-font-family;
        
}

.contact__button{
    @media screen and (min-width: 768px){
        text-align: center;
    }

}
.contact__btn {

    display: block;
    font-family: $main-font-family;
    @include font (16px, 700, 21/16, null);
    
    text-align: center;
    border: 1px transparent;
    cursor: $cursor-pointer;
    border-radius: 22px;
    height: 44px;
    width: 161px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color $hero-duration250ms $hero-time-function;

    @media screen and (min-width: 768px){
        display: inline-flex;
        justify-content: center;
            align-items: center;
    }
}
.first-btn {
margin-top: 32px;

background-color: $hero-text-first;
color: $hero-text-second;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (max-width: 767px){
margin-bottom: 20px;
display: flex;
justify-content: center;
align-items: center;
}

@media screen and (min-width: 768px){
margin-top: 0;
margin-right: 14px;
}

@media screen and (min-width: 1280px) {
    margin-top: 0;
    margin-right: 15px;
}
}
.second-btn {
    background-color: $hero-text-second;
    color: $hero-text-first;

}

.first-btn:hover,
.first-btn:focus {
    background-color: #C7133E;

}

.second-btn:hover,
.second-btn:focus {
background-color:$show-made-bcg-btn-hover-color;

}

.contact__modal {
    position: absolute;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    @include mobile {
            min-width: 320px;
            max-width: 420px;
        }
    
        @include tablet {
            right: 0;
            border-radius: 8px;
            max-width: 460px;
        }
    
        @include desktop {
            max-width: 600px;
            // height: 700px;
            padding: 25px 50px;
            // padding-top: 25px;
            border-radius: 8px;
        }
    
        padding: 20px;
        padding-top: 35px;
    
        background-image: url(../images/modal/modal-bg.png);
        background-color: $main-bg-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
}
.contact__title {
margin-bottom: 12px;
    font-family: $secondary-font-family;
    @include font(20px, 400, 1.15, 0.01em);

    @include desktop {
        @include font(30px, null, null, null);
    }

    text-align: center;
    color: $secondary-text-color;

    text-transform: uppercase;
}

.contact-field {
    margin-bottom: 15px;
}

.contact__label {
    display: block;
        width: 100%;
        margin-bottom: 5px;
    
        @include font(16px, 500, 1.86);
    
        @include desktop {
            @include font(20px, null, null);
        }
    
        color: $main-text-color;
    
        &_::placeholder {
            @include font(12px, 500, 1.86);
    
            color: $placeholder-color;
        }
}
.contact__textarea {
    width: 100%;
        padding: 7px 33px;
        color: $secondary-text-color;
        @include font(14px, 400, 1.86);
    
        @include desktop {
            @include font(16px, null, null);
        }
    
        &::placeholder {
            @include font(14px, 400, 1.86);
    
            @include desktop {
                @include font(16px, null, null);
                
            }
        }
    
        border: 1px solid $border-color;
        border-radius: 15px;
        box-shadow: inset 1px 3px 10px rgba(230, 150, 169, 0.5);
        outline: none;
        transition: border-color $timing-function-duration $timing-function;
    
        &:hover,
        &:focus {
            border-color: $accent-color;
        }
}
.wrap-input {
    position: relative;
}

.contact__input {
    width: 100%;
    height: 40px;
   padding: 7px 33px;
        color: $secondary-text-color;
        @include font(14px, 400, 1.86);
    
        @include desktop {
            @include font(16px, null, null);
        }
    
        &::placeholder {
            @include font(14px, 400, 1.86);
    
            @include desktop {
                @include font(16px, null, null);
            }
        }
    
        border: 1px solid $border-color;
        border-radius: 78px;
        box-shadow: inset 1px 3px 10px rgba(230, 150, 169, 0.5);
        outline: none;
        transition: border-color $timing-function-duration $timing-function;
    
        &:hover,
        &:focus {
            border-color: $accent-color;
        }
}

.contact__svg {
    position: absolute;
        top: 50%;
        left: 0;
    
        margin-left: 12px;
        transform: translateY(-50%);
        transition: fill $timing-function-duration $timing-function;
    
        .contact__input:focus+& {
            fill: $accent-color;
        }
}

.contact__privacy {
    margin-top: 22px;
        margin-bottom: 20px;
}

.contact__text {
    display: flex;
        justify-content: center;
        margin-bottom: 15px;
        color: $main-text-color;
        @include font(12px, 500, 1.86, 0.02em);
    
        @include tablet {
            @include font(13px, null, null, null);
        }
    
        @include desktop {
            @include font(18px, null, null, null);
        }
    
        align-items: center;
}

.contact-wrap {
    display: flex;
    margin-right: 10px;
    border-radius: 5px;

    width: 20px;
    height: 20px;
    padding: 4px;
    background-color: $main-text-color;}

.contact__icon {
    content: '';
        width: 12px;
        height: 12px;
    
        fill: $input-bg-color;
        transition: background-color $timing-function-duration $timing-function,
            fill $timing-function-duration $timing-function;
}

.modal__submit {
    display: block;
        width: 100%;
        color: $main-text-color;
        @include font(16px, 500, 1.31);
    
        @media screen and (min-width: 320px) {
            width: 280px;
            padding: 0px 95px;
        }
    
        @include desktop {
            @include font(25px, null, null);
        }
    
        height: 44px;
        border-radius: 20px;
        padding: 0px 20px;
        margin: 0px auto;
        opacity: 0.5;
        pointer-events: none;
    
        background-color: $accent-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
        .contact__inputpr:checked~& {
            opacity: 1;
            pointer-events: auto;
        }
}

.contact__submit {
display: block;
    width: 100%;
    color: $main-text-color;
    @include font(16px, 500, 1.31);

    @media screen and (min-width: 320px) {
        width: 280px;
        padding: 0px 95px;
    }

    @include desktop {
        @include font(25px, null, null);
    }

    height: 44px;
    border-radius: 20px;
    padding: 0px 20px;
    margin: 0px auto;
    
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


}

.contact__close {
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 10px;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 6px;
    margin: 0;

    border-radius: 50%;
    background-color: $input-bg-color;

    transition: fill $timing-function-duration $timing-function;

    &:hover,
    &:focus {
        fill: $accent-color;
    }

        @media screen and (min-width: 768px) {
        top: 5px;
        right: 5px;
        }

        @media screen and (min-width: 320px) {
        top: 4px;
        right: 6px;
                }


}