.slider__item {
  list-style: none;
}
.slider__image {
  width: 85px;
  height: 85px;
  margin-bottom: 32px;
}
.slider__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: #000000;
}
// .customer_reviews {
// }
// .slider {
// }
// .slider__info {
// }
// .slider__list {
// }

// .swiper-pagination {
// }
