.customer_reviews {
  background-color: #fff;
}
.container {
  padding: 0 20px;
}

.slider-item {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    padding: 0 74px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0 123px;
  }
}
.slide-item__header {
  display: flex;
  justify-items: center;
}

.slide-img {
  border-radius: 50%;
  margin-bottom: 32px;
}
.slide-item__comment {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
  margin-bottom: 16px;
  background-color: #fafafa;
  width: 100%;
  height: auto;
  padding: 43px 58px 26px 65px;
  @media screen and (min-width: 768px) {
    padding: 20px 6px 36px 6px;
  }

  @media screen and (min-width: 1280px) {
    padding: 32px 107px 31px 105px;
  }
}
.slide-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
  &::before {
    content: ' ';
    display: block;
    background-size: contain;
    margin-bottom: 16px;
    background-image: url('../../src/images/krapki.png');
    width: 32px;
    height: 4px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}
.slide-text {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #000000;
  z-index: 2;
  &::before {
    content: ' ';
    position: absolute;
    left: 53px;
    top: 30px;
    display: block;
    background-size: contain;
    background-image: url('../../src/images/lapki.png');
    width: 54px;
    height: 40px;
    z-index: -1;
    @media screen and (min-width: 768px) {
      left: 6px;
      top: 20px;
    }

    @media screen and (min-width: 1280px) {
      left: 105px;
      top: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.14;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.87;
  }
}
.gradient {
  width: 100%;
  height: auto;
  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1,
    #e1e1e1 1px,
    #fafafa 1px,
    #fafafa 31px
  );
  z-index: -2;
}
.slide-item__footer {
  display: flex;
  margin-bottom: 16px;
}

.swiper-pagination-bullet {
  background: #d9d9d9;
  opacity: inherit;
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  background-image: url('../images/home-icon.png');
  background-size: cover;
  width: 12px;
  height: 12px;
  border-radius: 0%;
  background-color: transparent;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
}
