.gallery {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  background-image: linear-gradient(to bottom, #fff5f6 30%, #ffffff 30%);

  @media screen and (min-width: 1280px) {
    padding-bottom: 120px;
  }

  & .container {
    @media screen and (min-width: 480px) {
      padding: 0 16px;
    }
    @media screen and (min-width: 768px) {
      padding: 0 73px;
    }
    @media screen and (min-width: 1280px) {
      padding: 0 134px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;

    @media screen and (min-width: 768px) {
      gap: 4px;
    }
    @media screen and (min-width: 1280px) {
      gap: 6px;
    }
  }
  &__item {
    width: 100%;
    height: 100%;
  }

  & img {
    cursor: $cursor-pointer;
    border-radius: 5px;
    transition: transform $hero-duration250ms $hero-time-function,
      box-shadow $hero-duration250ms $hero-time-function;
    &:hover {
      transform: scale(1.2);
      box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.85);
    }
  }
}

.gallery__item1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.gallery__item2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  transform: translateY(calc(-50% - 1px));

  @media screen and (min-width: 768px) {
    transform: translateY(calc(-50% - 2px));
  }
  @media screen and (min-width: 1280px) {
    transform: translateY(calc(-50% - 3px));
  }
}
.gallery__item3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  transform: translateY(calc(50% + 1px));

  @media screen and (min-width: 768px) {
    transform: translateY(calc(50% + 2px));
  }
  @media screen and (min-width: 768px) {
    transform: translateY(calc(50% + 3px));
  }
}
.gallery__item-big {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}
.gallery__item5 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
.gallery__item6 {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  transform: translateY(calc(-50% - 1px));

  @media screen and (min-width: 768px) {
    transform: translateY(calc(-50% - 2px));
  }
  @media screen and (min-width: 1280px) {
    transform: translateY(calc(-50% - 3px));
  }
}
.gallery__item7 {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  transform: translateY(calc(50% + 1px));

  @media screen and (min-width: 768px) {
    transform: translateY(calc(50% + 2px));
  }
  @media screen and (min-width: 768px) {
    transform: translateY(calc(50% + 3px));
  }
}
.gallery__item8 {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
  transform: translateY(25%);
}
.gallery__item9 {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
  transform: translateY(25%);
}
.gallery__item10 {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
  transform: translateY(-15%);
}
.active {
  z-index: 5;
}
.fslightbox-slide-btn-container:hover,
.fslightbox-toolbar-button:hover {
  cursor: $cursor-pointer;
}
