.header {
  background-color: $header-bg-color;
  position: fixed;
  transition: transform 0.1s linear;
  width: 100%;
  z-index: 6;
  padding-top: 8px;

  @include tablet {
    padding-top: 32px;
  }
  @include desktop {
    padding-top: 37px;
  }
  @media screen and (min-height: 100px) and (max-height: 200px) {
    background-color: transparent;
  }
}
.header > .container {
  position: relative;
}
.header.hide {
  @include mobile {
    transform: translateY(-63px);
  }
  @include tablet {
    transform: translateY(-85px);
  }
  @include desktop {
    transform: translateY(-90px);
  }
}

.header-branch {
  position: relative;
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}
.header-branch .menu-buy {
  display: none;
  @include tablet {
    display: block;
    width: 160px;
  }
}
.header-logo {
}
.menu-open-btn {
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  @include tablet {
    top: 5px;
    right: 200px;
  }
  @include desktop {
    display: none;
  }
}
.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  display: none;
}
.menu-icon {
  fill: $header-text-first;
}
.close {
  fill: $header-text-second;
}
.mob-menu-wrap {
  padding-left: 20px;
}
.mob-menu {
  pointer-events: all;
  top: 50px;
  right: 0;
  background-color: $header-menu-bg-color;
  height: 110vh;
  width: 250px;
  // z-index: 5;
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  @include tablet {
    width: 254px;
  }
}

.menu-buy {
  background-color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  width: 209px;
  height: 44px;
  border-radius: 22px;
  color: $header-text-first;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @include tablet {
    width: 186px;
  }
}
.menu-buy-wrap {
  padding-left: 14px;
}
.menu-list {
  margin-top: 32px;
}
.menu-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  border-top: 1px solid #e18298;
  padding: 12px 0;
  width: 100%;
  &:last-child {
    border-bottom: 1px solid #e18298;
  }
}

.menu-link {
  color: #fff;
  &:hover,
  &:focus {
    color: $header-text-first;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header-nav {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  @include desktop {
    display: flex;
    align-items: center;
  }
}
.header-nav-list {
  @include mobile {
    display: none;
  }
  @include desktop {
    display: flex;
  }
}
.header-nav-item {
  @include mobile {
    display: none;
  }
  @include desktop {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    & + & {
      margin-left: 35px;
    }
  }
}
.header-nav-link {
  @include mobile {
    display: none;
  }
  @include desktop {
    display: block;
    color: #fff;
    &:hover,
    &:focus {
      color: $header-text-first;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.no-scroll {
  > .header > .container > .header-branch > .menu-buy {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
  }
  > .header > .container > .header-branch > .menu-open-btn {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
  }
  > .header > .container > .mob-menu > .mob-menu-wrap > .menu-close-btn {
    display: block;
  }
  > .hero {
    pointer-events: none;
  }
  > .products {
    pointer-events: none;
  }
  > .made {
    pointer-events: none;
  }
  > .gallery {
    pointer-events: none;
  }
  > .customer_reviews {
    pointer-events: none;
  }
  > .contact {
    pointer-events: none;
  }
  > .footer {
    pointer-events: none;
  }
}
