.header {
  position: relative;
  .header-wrap {
    // position: fixed;
    z-index: 2;
  }
}
.no-scroll {
  overflow: hidden;
}

.header-wrap {
  left: 0;
  right: 0;
  position: absolute;
  .container {
    // position: fixed;
    z-index: 2;
  }
}
.header-unity {
  @media screen and (max-width: 479px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 480px;
  }
  @media screen and (max-width: 767px) {
    position: fixed;
  }
  @include tablet {
    width: 768px;
  }
}
.header-branch {
  background-color: #ffb8ca;
  padding: 8px 20px 5px 20px;
  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px 10px 32px;
    background-color: transparent;
  }
}
.header-branch .menu-buy {
  display: none;
  @include tablet {
    display: block;
    width: 160px;
  }
}
.header-logo {
}
.menu-open-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  @include tablet {
    top: 35px;
    right: 220px;
  }
}
.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  @include tablet {
  }
}
.menu-icon {
  fill: $header-text-first;
  //   &:hover,
  //   &:focus {
  //     fill: $header-text-second;
  //   }
}
.close {
  fill: $header-text-second;
  //   &:hover,
  //   &:focus {
  //     fill: $header-text-first;
  //   }
}
.mob-menu-wrap {
  padding-left: 20px;
}
.mob-menu {
  top: 0;
  right: 0;
  background-color: $header-bg-color;
  height: 100vh;
  width: 250px;
  z-index: 5;
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  @include tablet {
    width: 254px;
  }
}

.menu-buy {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  // margin-left: 20px;

  width: 209px;
  height: 44px;
  border-radius: 22px;
  color: $header-text-first;
  @include tablet {
    width: 186px;
    // padding: 12px;
  }
}
.menu-buy-wrap {
  padding-left: 14px;
}
.menu-list {
  margin-top: 32px;
}
.menu-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  border-top: 1px solid #e18298;
  padding: 12px 0;
  width: 100%;
  &:last-child {
    border-bottom: 1px solid #e18298;
  }
}

.menu-link {
  color: #fff;
  &:hover,
  &:focus {
    color: $header-text-first;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.visited {
  color: $header-text-first;
}

.backdrop {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.2);
  //   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  //     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-buy-btn {
}
