.hero {
  padding-top: 50px;
  background-color: $hero-bg-first;
}

.hero {
  .container {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
}

.hero__caption {
  display: inline-block;
  max-width: 218px;
  padding-top: 194px;
  margin-bottom: 20px;

  font-family: $secondary-font-family;
  @include font(48px, 400, 46/48, null);
  text-transform: uppercase;

  color: $hero-text-first;

  @include tablet {
    max-width: 162px;
    padding-top: 102px;
    @include font(34px, null, 30/34, 0.04em);
  }

  @include desktop {
    max-width: 277px;
    padding-top: 151px;
    margin-bottom: 24px;
    @include font(58px, null, 52/58, null);
  }
}

.hero__accent {
  display: block;
  @include font(26px, null, 30/26, 0.04em);

  color: $hero-text-second;

  @include tablet {
    @include font(22px, null, 25/22, null);
  }

  @include desktop {
    @include font(38px, null, 44/38, null);
  }
}

.statistic__wrap {
  display: none;

  @include tablet {
    display: block;
  }
}

.statistic__bg {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $hero-text-second;

  @include desktop {
    width: 30px;
    height: 30px;
  }
}

.hero__bg--first {
  top: 92px;
  right: 32px;

  @include desktop {
    top: 157px;
    right: 16px;
  }
}

.hero__bg--second {
  top: 152px;
  right: 32px;

  @include desktop {
    top: 249px;
    right: 16px;
  }
}

.statistic__number {
  position: absolute;

  font-family: $secondary-font-family;
  @include font(28px, 400, 32/28, 0.04em);
  text-transform: uppercase;

  color: $hero-text-first;

  @include desktop {
    @include font(46px, null, 53/46, null);
  }
}

.hero__number--first {
  top: 94px;
  right: 42px;

  @include desktop {
    top: 161px;
    right: 34px;
  }
}

.hero__number--second {
  top: 153px;
  right: 40px;

  @include desktop {
    top: 252px;
    right: 34px;
  }
}

.statistic__text {
  position: absolute;

  @include font(8px, 400, 10/8, null);

  color: $hero-text-second;

  @include desktop {
    @include font(14px, null, 18/14, null);
  }
}

.hero__text--first {
  top: 126px;
  right: 42px;

  @include desktop {
    top: 216px;
    right: 34px;
  }
}

.hero__text--second {
  top: 185px;
  right: 40px;

  @include desktop {
    top: 307px;
    right: 34px;
  }
}

.hero__list {
  display: flex;
  padding-bottom: 158px;

  @include tablet {
    padding-bottom: 0px;
    margin-bottom: 61px;
  }

  @include desktop {
    margin-bottom: 108px;
  }
}

.hero__item + .hero__item {
  margin-left: 8px;

  @include desktop {
    margin-left: 12px;
  }
}

.hero__link {
  position: relative;
  transition: color $hero-duration250ms $hero-time-function;
  display: block;
  max-width: 86px;
  border-radius: 20px;
  border: transparent;
  padding: 9px 15px;

  @include font(8px, 400, 10/8, null);
  cursor: $cursor-pointer;

  background-color: $hero-text-first;
  color: $hero-text-second;

  &:hover,
  &:focus {
    background-color: $hero-btn-first;
  }

  @include tablet {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  @include desktop {
    max-width: 138px;
    @include font(14px, null, 18/14, null);
    padding: 11px 20px;
  }
}

.hero__link--accent {
  background-color: $hero-text-second;
  color: $hero-text-first;

  &:hover,
  &:focus {
    background-color: $show-made-bcg-btn-hover-color;
  }
}

.hero__after-title {
  display: none;

  @include tablet {
    display: inline-block;
    max-width: 114px;
    margin-left: 152px;
    margin-bottom: 7px;
    @include font(8px, 400, 12/8, null);

    color: $hero-text-second;
  }

  @include desktop {
    max-width: 200px;
    margin-left: 213px;
    margin-bottom: 20px;
    @include font(14px, null, 20/14, null);
  }
}

.after-title__link {
  display: none;

  @include tablet {
    transition: background-color $hero-duration250ms $hero-time-function;
    display: flex;
    border: transparent;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-left: 152px;
    margin-bottom: 56px;

    justify-content: center;
    align-items: center;
    fill: $hero-text-first;

    background-color: $hero-text-second;

    &:hover,
    &:focus {
      background-color: $show-made-bcg-btn-hover-color;
    }
  }

  @include desktop {
    width: 26px;
    height: 26px;
    margin-left: 213px;
    margin-bottom: 80px;
  }
}


.hero__img-second {
  display: none;

  @include tablet {
    position: absolute;
    left: 32px;
    bottom: 16px;
    display: block;
  }

  @include desktop {
    left: 16px;
    bottom: 56px;
  }
}

.hero__img-main--bg{
  position: absolute;
  z-index: -1;
  top: 86px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: $hero-bg-second;

  @media screen and (min-width: 420px) {
    left: auto;
    right: 36px;
  }

  @include tablet {
    width: 335px;
    height: 333px;
    top: 43px;
    left: 248px;
  }

  @include desktop {
    width: 534px;
    height: 534px;
    top: 58px;
    left: 517px;
  }
}

.animation {
  opacity: 0;
  animation: endice 3000ms 1;
}

@keyframes endice {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animation__picture0 {
  position: absolute;
  left: 133px;
  bottom: -76px;

  @include tablet {
    width: 80px;
    left: 118px;
    bottom: -40px;
  }

  @include desktop {
    width: 135px;
    left: 191px;
    bottom: -77px;
  }
}

.animation__picture1 {
  position: absolute;
  left: 106px;
  top: 75%;
  animation: moveice1 250ms $hero-time-function;

  @include tablet {
    width: 112px;
    left: 99px;
    top: 72%;
  }

  @include desktop {
    width: 190px;
    left: 159px;
    top: 72%;
  }
}

@keyframes moveice1 {
  0% {
    transform: translateY(calc(-100vh));
  }

  100% {
    transform: translateY(0vh);
  }
}

.animation__picture2 {
  position: absolute;
  left: 93px;
  top: 67%;
  animation: moveice2 500ms $hero-time-function;

  @include tablet {
    width: 121px;
    left: 86px;
    top: 65%;
  }

  @include desktop {
    width: 185px;
    left: 140px;
    top: 66%;
  }
}

@keyframes moveice2 {
  0% {
    transform: translateY(calc(-100vh));
  }

  100% {
    transform: translateY(0vh);
  }
}

.animation__picture3 {
  position: absolute;
  left: 87px;
  top: 58%;
  animation: moveice3 750ms $hero-time-function;

  @include tablet {
    width: 126px;
    left: 87px;
    top: 58%;
  }

  @include desktop {
    width: 214px;
    left: 131px;
    top: 58%;
  }
}

@keyframes moveice3 {
  0% {
    transform: translateY(calc(-100vh));
  }

  100% {
    transform: translateY(0vh);
  }
}

.animation__picture4 {
  position: absolute;
  left: 82px;
  top: 44%;
  animation: moveice4 1000ms $hero-time-function;

  @include tablet {
    width: 141px;
    left: 82px;
    top: 46%;
  }

  @include desktop {
    width: 228px;
    left: 125px;
    top: 46%;
  }
}

@keyframes moveice4 {
  0% {
    transform: translateY(calc(-100vh));
  }

  100% {
    transform: translateY(0vh);
  }
}

.animation__picture5 {
  position: absolute;
  left: 89px;
  top: 27%;
  animation: moveice5 1250ms $hero-time-function;

  @include tablet {
    left: 77px;
    top: 29%;
  }

  @include desktop {
    width: 210px;
    left: 125px;
    top: 30%;
  }
}

@keyframes moveice5 {
  0% {
    transform: translateY(calc(-100vh));
  }

  100% {
    transform: translateY(0vh);
  }
}

.animation__picture6 {
  position: absolute;
  left: 97px;
  top: 6%;
  animation: moveice6 1500ms $hero-time-function;

  @include tablet {
    left: 87px;
    top: 8%;
  }

  @include desktop {
    width: 205px;
    left: 133px;
    top: 10%;
  }
}

@keyframes moveice6 {
  0% {
    transform: translateY(calc(-100vh));
  }

  100% {
    transform: translateY(0vh);
  }
}

.hero__img-main {
  position: absolute;
  opacity: 1;
  top: 10px;
  left: 81px;
  animation: moveice7 8000ms;

  @include tablet {
    top: 37px;
    left: 74px;
  }

  @include desktop {
    top: 54px;
    left: 119px;
  }
}

@keyframes moveice7 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero__img-third {
  display: none;

  @include tablet {
    position: absolute;
    display: block;
    right: 32px;
    bottom: 0px;
  }

  @include desktop {
    right: 16px;
    bottom: 0px;
  }
}

.patric__img {
  display: none;

  @include desktop{
  display: block;
  position: absolute;
  width: 70px;
  left: 47%;
  opacity: 0;
  }
}

.fly{
  animation: fly 1300ms 800ms;
  top: -19px;
  transform: rotate(-270deg);
}

@keyframes fly {
  0% {
    opacity: 1;

  }

  100% {
    opacity: 1;
    top: 295px;
    transform: rotate(0deg);
  }
}


.pos0 {
  top: 295px;
  animation: pos0 1500ms 1800ms;
}

@keyframes pos0 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos1{
  top: 288px;
  animation: pos1 500ms 2000ms;
}

@keyframes pos1 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos2 {
  width: 68px;
  top: 275px;
  animation: pos2 500ms 2100ms;
}

@keyframes pos2 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos3 {
  width: 68px;
  top: 288px;
  animation: pos3 500ms 2200ms;
}

@keyframes pos3 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos4 {
  width: 68px;
  top: 286px;
  animation: pos4 500ms 2300ms;
}

@keyframes pos4 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos5 {
  width: 68px;
  top: 286px;
  animation: pos5 500ms 2400ms;
}

@keyframes pos5 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos6 {
  width: 68px;
  top: 286px;
  animation: pos6 500ms 2500ms;
}

@keyframes pos6 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos7 {
  width: 68px;
  top: 290px;
  animation: pos7 500ms 2600ms;
}

@keyframes pos7 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos8 {
  width: 68px;
  top: 286px;
  animation: pos8 500ms 2700ms;
}

@keyframes pos8 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos9 {
  width: 68px;
  top: 286px;
  animation: pos9 500ms 2800ms;
}

@keyframes pos9 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos10 {
  width: 68px;
  top: 286px;
  animation: pos10 500ms 2900ms;
}

@keyframes pos10 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos11 {
  width: 70px;
  top: 286px;
  animation: pos11 500ms 3000ms;
}

@keyframes pos11 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos12 {
  width: 75px;
  top: 292px;
  animation: pos12 500ms 3100ms;
}

@keyframes pos12 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos13 {
  width: 106px;
  left: 44%;
  top: 302px;
  animation: pos13 500ms 3200ms;
}

@keyframes pos13 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos14 {
  width: 106px;
  top: 302px;
  left: 44%;
  animation: pos14 500ms 3300ms;
}

@keyframes pos14 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos15 {
  width: 76px;
  top: 286px;
  left: 48%;
  animation: pos15 500ms 3400ms;
}

@keyframes pos15 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos16 {
  width: 75px;
  top: 292px;
  left: 48%;
  animation: pos16 500ms 3500ms;
}

@keyframes pos16 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos17 {
  width: 75px;
  top: 292px;
  left: 48%;
  animation: pos17 500ms 3600ms;
}

@keyframes pos17 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos18 {
  width: 75px;
  top: 292px;
  left: 48%;
  animation: pos18 500ms 3700ms;
}

@keyframes pos18 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos19 {
  width: 75px;
  top: 292px;
  left: 48%;
  animation: pos19 500ms 3800ms;
}

@keyframes pos19 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos20 {
  width: 75px;
  top: 292px;
  left: 48%;
  animation: pos20 500ms 3900ms;
}

@keyframes pos20 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos21 {
  width: 75px;
  top: 292px;
  left: 48%;
  animation: pos21 500ms 4000ms;
}

@keyframes pos21 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos22 {
  width: 75px;
  top: 292px;
  left: 48%;
  animation: pos22 500ms 4100ms;
}

@keyframes pos22 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos23 {
  width: 75px;
  top: 292px;
  left: 48%;
  animation: pos23 500ms 4200ms;
}

@keyframes pos23 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos24 {
  width: 65px;
  top: 292px;
  animation: pos24 500ms 4300ms;
}

@keyframes pos24 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos25 {
  width: 82px;
  left: 46%;
  top: 299px;
  animation: pos25 500ms 4400ms;
}

@keyframes pos25 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos26 {
  width: 98px;
  left: 45%;
  top: 308px;
  animation: pos26 500ms 4500ms;
}

@keyframes pos26 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos27 {
  width: 98px;
  left: 45%;
  top: 304px;
  animation: pos27 500ms 4600ms;
}

@keyframes pos27 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos28 {
  width: 98px;
  left: 45%;
  top: 301px;
  animation: pos28 500ms 4700ms;
}

@keyframes pos28 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos29 {
  width: 98px;
  left: 45%;
  top: 301px;
  animation: pos29 500ms 4800ms;
}

@keyframes pos29 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos30 {
  width: 98px;
  left: 45%;
  top: 301px;
  animation: pos30 500ms 4900ms;
}

@keyframes pos30 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos31 {
  width: 98px;
  left: 45%;
  top: 301px;
  animation: pos31 500ms 5000ms;
}

@keyframes pos31 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos32 {
  width: 98px;
  left: 45%;
  top: 301px;
  animation: pos32 500ms 5000ms;
}

@keyframes pos32 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos33 {
  width: 98px;
  left: 45%;
  top: 301px;
  animation: pos33 500ms 5000ms;
}

@keyframes pos33 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos34 {
  width: 98px;
  left: 45%;
  top: 301px;
  animation: pos34 500ms 5000ms;
}

@keyframes pos34 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pos35 {
  width: 98px;
  left: 45%;
  top: 301px;
  animation: pos35 500ms 5000ms;
}

@keyframes pos35 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}