.made {
  background-color: $howmade-bcg-color;
  padding-top: 40px;
  .container {
    position: relative;
  }
  // position: relative;
}

.made {
  position: relative;
}

.about-picture {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.milk__left {
  position: absolute;
  left: 0;

  top: 36%;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 319.98px) {
    top: 33%;
  }

  @media screen and (min-width: 320px) and (max-width: 344.98px) {
    top: 37%;
  }

  @media screen and (min-width: 345px) {
    top: 36%;
  }
}

.milk__right {
  position: absolute;
  right: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 320px) {
    top: 31%;
  }

  @media screen and (min-width: 345px) {
    top: 36%;
  }

  @media screen and (max-width: 387.98px) {
    top: 36%;
  }

  @media screen and (min-width: 388px) {
    top: 36%;
  }
}

.milk__desktop {
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // background-image: url('..//images/howmade/milk-desktop-min.png');

  // @media (min-device-pixel-ratio: 2),
  //   (-webkit-min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: url('..//images/howmade/milk-desktop-2x-min.png');
  // }

  // @media (min-device-pixel-ratio: 3),
  //   (-webkit-min-device-pixel-ratio: 3),
  //   (min-resolution: 288dpi),
  //   (min-resolution: 3dppx) {
  //   background-image: url('..//images/howmade/milk-desktop-3x-min.png');
  // }
  position: absolute;
  left: 0;
  top: 195px;
  @media screen and (min-width: 0px) and (max-width: 1279.98px) {
    display: none;
  }
}

.milk__mob {
  position: absolute;
  left: 0;
  bottom: 56%;
  @include mobile {
    bottom: 54%;
    // left: 8%;
    // bottom: 54%;
  }

  // @media screen and (min-width: 388px) and (max-width: 768px) {
  //   left: 76px;
  //   right: 0%;
  //   margin-left: auto;
  //   margin-right: auto;
  //   display: inline-table;
  // }

  @media screen and (min-width: 345px) {
    bottom: 55%;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.thumb {
  margin-top: 32px;

  @include tablet {
    display: flex;
  }
}

.made__label {
  cursor: $cursor;
  font-family: 'Titan One';
  font-style: normal;

  @include font(18px, 400, 1.16, null);
  color: $hero-bg-second;

  @include tablet {
    @include font(26px, 400, 1.15, null);
  }

  @include desktop {
    @include font(30px, 400, 1.13, null);
  }

  margin-bottom: 15px;

  display: block;
  text-align: center;
  text-transform: uppercase;
}

.made__title {
  font-family: $secondary-font-family;
  font-style: normal;
  margin-bottom: 32px;

  @media screen and (max-width: 320px) {
    @include font(20px, 400, 1.15, 0.04em);
  }

  @include mobile {
    @include font(34px, 400, 1.15, 0.04em);
  }

  @include tablet {
    margin-bottom: 40px;
    @include tablet {
      @include font(48px, 400, 1.14, null);
    }
  }

  @include desktop {
    margin-bottom: 60px;
    @include font(58px, 400, 1.14, null);
  }

  text-align: center;
  text-transform: uppercase;

  color: $hero-text-first;
}

.modification {
  margin-left: 14px;
}

// .bcg__image {
//   // background-repeat: no-repeat;
//   // // background-position: center;
//   // // background-size: cover;
//   // background-image: url('../images/howmade/bcg-image-min.png');

//   // @media (min-device-pixel-ratio: 2),
//   //   (-webkit-min-device-pixel-ratio: 2),
//   //   (min-resolution: 192dpi),
//   //   (min-resolution: 2dppx) {
//   //   background-image: url('../images/howmade/bcg-image-2x-min.png');
//   // }

//   // @media (min-device-pixel-ratio: 3),
//   //   (-webkit-min-device-pixel-ratio: 3),
//   //   (min-resolution: 288dpi),
//   //   (min-resolution: 3dppx) {
//   //   background-image: url('../images/howmade/bcg-image-3x-min.png');
//   // }
// }

.made__text {
  @media screen and (max-width: 767.98px) {
    margin-left: auto;
    margin-right: auto;
  }

  @include font(12px, 500, 1.58, null);
  font-style: normal;
  width: 220px;
  // margin-bottom: 20px;
  @media screen and (max-width: 767.98px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  // @media screen and (max-width: 768px) {
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  @include tablet {
    &:not(:first-child) {
      margin-top: 32px;
    }
    @include font(14px, 400, 1.8, null);
    width: 334px;
  }

  @include desktop {
    @include font(16px, 400, 1.75, null);
    width: 463px;

    // font-size: 18px;
  }

  color: $howmade-text-color;
}

.made__text--color {
  color: $show-made-text-color-two;
}

.made__text--size {
  @include desktop {
    @include font(14px, 400, 1.93, null);
  }
}

.about {
  z-index: 1;

  @include tablet {
    margin-left: 34px;
  }

  @include desktop {
    margin-left: 139px;
    margin-top: 90px;
  }
}

.made__btn {
  height: 44px;
  width: 176px;
  font-style: normal;
  @include font(14px, 700, 1.28, null);
  text-align: center;
  border-radius: 20px;
  background-color: $hero-text-second;
  color: $hero-text-first;
  border: none;

  @media screen and (max-width: 767.98px) {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }


  @include tablet {
    @include font(16px, 700, 1.31, null);
    margin-top: 40px;
  }

  transition: background-color $hero-duration250ms $hero-time-function;

  &:hover,
  &:focus {
    background-color: $show-made-bcg-btn-hover-color;
  }
}

.benefits__list {
  margin-top: 40px;

  @include tablet {
    display: flex;
    margin-top: 80px;
  }
}

.benefits__indicator {
  font-family: $secondary-font-family;
  font-style: normal;

  @include font(36px, 400, 1.14, 0.04em);

  @include tablet {
    @include font(48px, 400, 1.14, 0.04em);
  }

  @include desktop {
    @include font(58px, 400, 1.14, 0.04em);
  }

  display: grid;
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 13px;
  }

  &:not(:first-child) {
    margin-top: 16px;
  }

  text-transform: uppercase;
  color: $hero-text-first;
}

.benefits__text {
  font-style: normal;
  @include font(12px, 700, 1.66, null);

  @include tablet {
    @include font(14px, null, 1.71, 0.02em);
  }

  @include desktop {
    @include font(16px, null, 1.75, 0.02em);
    width: 360px;
  }

  color: $howmade-text-color;
}

.benefits__icon {
  width: 230px;
  // @media screen and (max-width: 768px) {
  //   margin-right: auto;
  //   margin-left: auto;
  // }

  @include tablet {
    width: 200px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @include desktop {
    flex-basis: 33.3333%;
    width: 400px;
  }

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.benefits__indicator--icecream::before {
  content: '';
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 36px;
  }

  width: 33px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../images/howmade/icecream-mob-min.png ');

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/howmade/icecream-mob-2x-min.png');
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url('../images/howmade/icecream-mob-3x-min.png');
  }
}

.benefits__indicator--bucket::before {
  content: '';
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 36px;
  }

  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../images/howmade/bucket-mob-min.png ');

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/howmade/bucket-mob-2x-min.png');
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url('../images/howmade/bucket-mob-3x-min.png');
  }
}

.benefits__indicator--candy::before {
  content: '';
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 36px;
  }

  width: 44px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../images/howmade/candy-mob-min.png ');

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/howmade/candy-mob-2x-min.png');
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url('../images/howmade/candy-mob-3x-min.png');
  }
}

// .benefits__indicator::before {
//   content: '';
//   width: 80px;
//   height: 80px;
//   background-color: teal;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   background-image: url('../images/howmade/bucket-mob-min.png ');
// }
